<div class="jxtc_socialwall_tmp9">
                    <img src="{avatarurl}" width="300" />
                    <div class="jxtc_socialwall_tmp9_mask jxtc_socialwall_tmp9_mask-1"></div>
                    <div class="jxtc_socialwall_tmp9_mask jxtc_socialwall_tmp9_mask-2"></div>
                    <div class="jxtc_socialwall_tmp9_content">
                         <h2>{username}</h2>
                        <p>{status}</p>
                    </div>
                </div>










