{if $item->addtype==$smarty.const.ADDSMAN_TYPE_PUBLIC}
{if $smarty.const.ads_opt_logged_posting && !$item->username }<strong>{$item->guest_username}</strong>
{else}<strong><a href="{$item->links.otheradds}">{$item->username}</a></strong>{/if}
{else}<strong>{jtext text="ADS_ADTYPE_PRIVATE_AD"}</strong>{/if}