.expired{
    color:#FF0000;
}
input.back_button
{
    border:1px solid #2530A3;
    background-color: #7CBCE0;
    padding:5px 20px;
    font-size: 110%;
    font-weight: bold;
    border-radius: 5px;
}
input.back_button:hover{
    background-color: #3499CF;
}

.ads_noborder tr,
.ads_noborder td
{
    border:none;
}
.add_list_container table.ads_noborder{
    width: 100%;
} 
/* Listings CELL */
.ads_category_description{
	padding:5px;
	border-bottom:#adb3ba solid 1px;
	border-top:#adb3ba solid 1px;
	border-left:#adb3ba solid 1px;
	border-right:#adb3ba solid 1px;
    border-radius: 10px 10px 0 0;
    margin:20px;
    padding:10px 10px 5px 10px;
    background-color: #E9EBED;
}
.ads_category_description h3{
    font-weight: bold;
    font-size: 130%;
    margin-top:10px!important;
}
.ads_category_description span{
    font-size: 90%;
}
.add_list_container .title{
    width: 100%;
}
.add_list_container .price {
    float:left;
    width:20%;
    padding:5px;
}
.add_list_container .countdown{
    float:left;
    padding:5px;
    line-height: 25px;
}
.adsman_shortdescription {
    line-height: 15px;
    color: #8f8f8f !important;
    width: 50%;
    float:left;
    padding-top:5px;
}


.width100top {
     vertical-align: top;
     padding: 2px;
}
.price {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}
.currency {
    font-size: 14px;
    font-weight: bold;
}
.adds_date{
    
}
.adds_man_list_toolbar{
    float:right;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
}
.adds_man_list_author{
    float:right;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    font-size: 95%;
}
.adds_man_list_author a{text-decoration: none;}
.adds_man_list_rest{
    float:left;
    padding-left: 10px;
}
a.category_link{
        /*color:#004682;*/
    color: #4f4f4f !important;
    font-size:11px;
    font-weight:normal;
    text-decoration: none;
}

.adds_man_list_grid{font-size:12px; width:100% !important;}
.adds_man_item1_grid{ border-bottom:#ACACAC solid 1px; background:#FFFFFF; margin:5px; width:150px; height:200px; float:left;}
.adds_man_item1_title_grid{  color:#A34545; background:#FFFFFF; width:150px;}
.adds_man_item1_footer_grid{ border-top:solid 1px #ACACAC; color:#A34545; width:150px;}

.adds_man_item2_grid{ border:#EEEEEE solid 1px; margin:5px; width:150px; height:200px; float:left;}
.adds_man_item2_title_grid{ background:#FFFFFF; color:#A34545; width:150px;}
.adds_man_item2_footer_grid{ border-top:solid 1px #ACACAC; color:#A34545; width:150px;}

.upgrade_title{font-size:14px;color:#004682;font-weight:bold;}
table#adds_categories{ width:100%;}
#adds_maincat{ font-size:16px;padding-top:6px !important;padding-bottom:6px !important; }
#adds_subcat{ font-size:10px;font-weight:100;padding-top:1px !important;padding-bottom:1px !important;padding-left:20px;}

.ads_mailsend_box{display:none;position:absolute; z-index:1000; background:#ADDEDA; border:solid 2px #DDDEDA;}

.adds_man_list a:hover{
    background: inherit !important;
    color:inherit !important;
}

/*Items  odd/even rows*/
.adds_man_item1,.adds_man_item2{
    margin:5px; 
    width:100%;
    border-top:1px solid #DFDFDF;
}
.adds_man_item1_title,.adds_man_item2_title{
        background: #D5ECFA; 
        font-weight: normal; 
        color: #014672;
}
.add_list_container .title{
        font-weight: bold; 
}
.adds_man_item1_footer .add_footer_container,.adds_man_item2_footer .add_footer_container{ 
    border-top: 1px solid #7DA4B9;
    border-bottom: 1px solid #7DA4B9; 
}
.add_footer_container
{
    overflow: auto;
}
.adds_man_item1_title td,.adds_man_item2_title td
{
    border-top:1px solid #DFDFDF;
    border-bottom: 0px solid #7DA4B9 !important;
}
.adds_man_item1_title a,.adds_man_item2_title a{ 
        color: #1f1f1f;
}


/* Featured Listings*/
.adds_man_item1_footer,.adds_man_item2_footer,
.listing-gold.adds_man_item1_footer,.listing-gold.adds_man_item2_footer,
.listing-silver.adds_man_item1_footer,.listing-silver.adds_man_item2_footer,
.listing-bronze.adds_man_item1_footer,.listing-bronze.adds_man_item2_footer,
.listing-gold.adds_man_item1_footer table,.listing-gold.adds_man_item2_footer table
{ 
    color: #135CAE; 
    font-weight: bold; 
    background:url("image/gradient-footer.jpg") repeat-x; 
}

div.adds_man_item_small_box.listing-gold.adds_man_item1_footer,div.adds_man_item_small_box.listing-gold.adds_man_item2_footer
{
    background: none repeat scroll 0 0 #FEE148;
}

div.adds_man_item_small_box.listing-silver.adds_man_item1_footer,div.adds_man_item_small_box.listing-silver.adds_man_item2_footer
{
    background: none repeat scroll 0 0 #ACACAC;
}

div.adds_man_item_small_box.listing-bronze.adds_man_item1_footer,div.adds_man_item_small_box.listing-bronze.adds_man_item2_footer
{
    background: none repeat scroll 0 0 #d49372;
    color: #135CAE;
    font-weight: bold;
    /*background:url("image/gradient-footer.jpg") repeat-x;*/
}

.listing-gold .add_list_container,
.listing-gold .add_list_container table

{
    background-color: #FEE148;
}

.listing-gold.adds_man_item1_footer table,.listing-gold.adds_man_item2_footer table
{
  
}

.listing-gold.adds_man_item1_title table,.listing-gold.adds_man_item2_title table
{
    border-top:#D5ECFA solid 2px; 
    border-right:#D5ECFA solid 4px; 
    border-left:#D5ECFA solid 4px;
    font-size:110%;
}
.listing-gold .add_list_container .title
{
    font-size:115%;
    font-weight: bold; 
}

.listing-silver .add_list_container {
    overflow:visible; 
}
.listing-silver .add_list_container .title
{
    font-size:115%;
    font-weight: bold; 
}
.listing-silver.adds_man_item1_footer .add_footer_container,.listing-silver.adds_man_item2_footer .add_footer_container
{ 
    border-left:#7B7B7B 10px solid !important;
    border-right:#7B7B7B 10px solid !important;
    border-bottom:#7B7B7B 10px solid !important;
    border-top: 1px solid #7DA4B9 !important;
}
.listing-silver.adds_man_item1_title table,.listing-silver.adds_man_item2_title table
{ 
    border-top:#7B7B7B 10px solid;
    border-left:#7B7B7B 10px solid;
    border-right:#7B7B7B 10px solid;
}

.listing-bronze .add_list_container .title
{
    font-size:115%;
    font-weight: bold; 
    font-style: italic;    
}

.listing-bronze .add_list_container
{
    background:url("image/featured.gif") no-repeat 0px 15px;
    /*background: none repeat scroll 0 0 #c78563;*/
    border: #7DA4B9 1px solid !important;
    padding-left: 10px;
    /*border-bottom:#000000 solid 1px;
    border-top:#000000 solid 1px;*/
}
/* 
            My AD Listing 
*/
.adds_man_mylist table th{
    padding:5px;
    border-bottom: 1px solid #11a6ff;
    font-size: 130%;
}
.adds_man_mylist a.category_link,
.adds_man_mylist a.category_link:hover{
    font-weight: bold;
    background-color: inherit!important;
    font-size: 120%;
}
.adds_myitem1 td{
    padding:5px;
}
.adds_myitem2 td{
    padding:5px;
    background-color: #F2FBFF;
}
.adds_myitem1 td.countdown,
.adds_myitem2 td.countdown{
    min-width: 100px;
}
.adds_myitem1 td.price,
.adds_myitem2 td.price{
    min-width: 160px;
}
.adds_myitem1 img,
.adds_myitem2 img{
    height:50px;
}
tr.adds_myitem1.listing-gold,tr.adds_myitem2.listing-gold
{
    border:2px solid #fee148; 
}
tr.adds_myitem1.listing-silver,tr.adds_myitem2.listing-silver
{
    border:2px solid #7b7b7b;
}
tr.adds_myitem1.listing-bronze,tr.adds_myitem2.listing-bronze
{
    border:2px solid #cd8032;
}

/*AD Listing Details */

.add_detail_container{
	width:100% !important;
	border: 1px solid #D5ECFA; 
    background: #FFFFFF; 
    color: #383838; 	
}
.add_detail_container a:hover{
    background: inherit !important;
    color:inherit !important;
}
div.add_detail_fields,
div.add_userdetails{
    width:90%;
    float:left;
}
.add_detail_fields label,
.add_userdetails label{
    font-weight: bold;
    padding-right:5px;
}
.add_detail_fields li,
.add_userdetails li{
    list-style: none outside none;
}
ul.add_detail_stats{
    padding:0 5px 0 0 !important;
}
ul.add_detail_stats li
{
    list-style: none outside none;
    text-align: right;
}
.add_detail_stats label{
    font-weight: bold;
}
.add_tag{
    padding-left:18px;
    padding-top:3px;
    background: url(image/tag.png) no-repeat;
}
.add_tag a:hover{
    background-image: none !important;
}
div.add_detail_socialtoolbar{
    float:right;
    width:25px;
}

.text_header_small {
    color: #0055B5;
    font-family:arial,helvetica,sans-serif;
    font-size:10px;
    font-weight: bold;
}
.text_header_small.active{
    text-decoration: underline;
    background: url(image/arrow_blue_right.png) no-repeat 0 -2px transparent;
    padding-left: 14px;
}
span.text_header_small:hover{
    color:#FFF;
}
.header_title_sort{
    border: 1px solid #5DA6ED; 
    background: url(image/gradient-sort.jpg) repeat-x; 
    font-weight: bold; 
    color: #0055B5; 
    line-height:15px; 
    height:15px;
    float:left;
    width:100%;
    text-align:center !important;
    font-size: 10px !important;
    font-family: arial,helvetica,sans-serif;
}

.header_title_sort_hover{
    border: 1px solid #5DA6ED; 
    background: url(image/gradient-sort2.jpg) repeat-x; 
    font-weight: bold; 
    color: #FFFFFF; 
	float:left;
    width:100%;
    text-align:center !important;
    cursor: pointer;
    font-size: 10px !important;
    font-family: arial,helvetica,sans-serif;
}
.header_title_sort_hover a,.header_title_sort_hover a:hover{
   color: #FFFFFF; 
   font-weight: bold; 
}
.header_title_sort a{
    text-decoration:none;
    font-family:arial,helvetica,sans-serif;
    font-size:10px;
    font-weight:bold;
    color: #0055B5; 
    cursor: pointer;
}
.add_detail_title{
    border-bottom:1px solid #ACACAC;
    font-family:arial,helvetica,sans-serif;
    font-size:20px;
    font-weight:bolder;
    color:#004682;
    line-height:30px;
    background: url(image/detail-gradient.jpg) repeat-x;
    padding-left: 10px; 
}
.add_detail_title img{
    height: 24px;
}
.add_detail_category
{
    font-size:11px;
}
.add_text_medium_bold{
    font-family:arial,helvetica,sans-serif;
    font-size:12px;
    font-weight:bolder;
    color:#004682;

}
.add_filter{
    background:#FFFFFF;
    font-family:arial,helvetica,sans-serif;
    font-size:10px;
    color:#FF6F6F;
    font-weight:bolder;
}
.add_text_small{
    font-family:arial,helvetica,sans-serif;
    font-size:11px;
    color:#000000;

}
.adds_man_item_grid{
}
div.adds_man_item_grid_title{
    position:relative;
    overflow: hidden;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 153px;
    min-height: 110px;
    max-height: 115px;
    height: auto ! important;
    background-color:#D5ECFA;

}

.adds_man_item_grid_headerbox{
    background:url("../../img/grizzle/g_header_t.png") repeat-x; 
    line-height:15px; 
    height:15px;
}

.adds_man_item_grid_title a{
    color:#004682 !important; 
    font-weight:bold;
    text-decoration:none;
}

div.adds_man_item_thumb{
    border: 1px solid #5DA6ED;
    border-bottom: 0px solid #5DA6ED;
    overflow: hidden;
    text-align: center !important;
    width: 163px;
    height: 108px;
    background-color:#D5ECFA;
}
div.adds_man_item_grid_container{
    border-left: 1px solid #5DA6ED;
    border-right: 1px solid #5DA6ED;
    border-bottom: 1px solid #5DA6ED;
    text-align: left;
    width: 163px;
    background-color:#D5ECFA;
}
div.adds_man_item_small_box{
    border-top: 0px solid rgb(8, 92, 144);
    overflow: hidden;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    background-color:#D5ECFA;
    
}

.add_text_medium_bold{
    font-family:arial,helvetica,sans-serif;
    font-size:12px;
    font-weight:bolder;
    color:#004682;
}
table.ads_table_description{
    width:100%;
    border:0 none !important;
}
table.ads_table_description td{
    padding:30px;
    border: 1px solid #d6ecfa !important;
}
/* tabs */

dl.tabs {
	float: left !important;
	margin: 10px 0 -1px 0 !important;
	z-index: 50;
}

dl.tabs dt {
	float: left;
	padding: 4px 10px;

	margin-left: 3px;
   	border: 1px solid #ACACAC; 
    background:url(image/tab-selected-gradient.jpg) 50% 50% repeat-x !important;
	font-weight: bold; color: #4c3000; 
}

dl.tabs dt.open {
    border: 1px solid #ACACAC; 
    background:#EFEFEF !important;
    font-weight: bold; 
    color: #4c3000; 
	border-bottom: 1px solid #EFEFEF!important;
	z-index: 100;
	color: #000;
}

div.current {
	clear: both;
	border: 1px solid #ACACAC;
	padding: 10px 10px;
}

div.current dd {
	padding: 0;
	margin: 0;
}

/*       END TABS    */

/*          Edit AD  */
.tool-tip{
	background:none repeat scroll 0 0 #F7EBEE !important;
	border:1px solid #D4D5AA;
	max-width:100% !important;
}


.adds_man_pagination
{ 
    text-align:center !important; 
    padding-top:5px !important; 
    border-top:#ACACAC solid 2px; 
    background:#FFFFFF; 
    height:30px; 
    width:100%;
    margin-top:10px;
}

.adds_guest_info{
	width:100% !important; 
	background:#FFFFFF !important;
}

.ads_guest_info_cell{
	font-weight:bold;
}


.ads_editpage_step_selected{
	float: left;
	padding: 4px 10px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin-left: 3px;
	background: #FFF;
	background:url("../../img/grey_bg.gif") repeat-x !important;
	color: #666;
	height:35px;
	width:200px;
	font-size:16px;
}

.ads_editpage_step{
	padding: 4px 10px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin-left: 3px;
    background:#DDDDDD;
    float:left;
    text-align:center !important;
	height:35px;
	width:200px;
	color: #AAA;
	font-size:16px;
}
.add_editpage .componentheading span{
    vertical-align: middle;
}
.add_editpage input,
.add_editpage select,
.add_editpage textarea
{
    border:1px solid #83C3E7;
    background-color: #FFFFFF;
    
}
.add_editpage input,
.add_editpage select
{
    height:20px;
}
.add_editpage #title{
    height:30px;
    font-size: 120%;
    font-weight: bold;
    width:600px;
}
.add_editpage #short_description{
    width:600px;
}
.add_editpage label{
    font-weight: bold;
}
div#custom_fields_container{
    padding:10px;
}
#custom_fields_container,
#custom_fields_container table{
    width:100%;
    border:none;
}
#custom_fields_container table td,
#custom_fields_container table tr{
    border:none!important;
}
/*
                CATEGORIES
*/
.addsman_catheader
{
    font-size: 16px;
    font-weight: bold;
    padding:10px;
    border-top: 1px solid #5998F7;
    border-left: 1px solid #5998F7;
    border-right: 2px solid #3F88F5;
    border-bottom: 2px solid #3F88F5;
    margin: 10px 0;    
}
.addsman_catheader_nav
{
    position:relative;
    bottom:0px;
    right:0px;    
    font-size: 11px;
    font-weight: normal;
    padding-left: 5px;
}
.addsman_catheader_nav span
{
    font-size: 90%;
}
.addsman_catheader_nav a,
.addsman_catheader_nav a:hover
{
    text-decoration: none;
    background: inherit!important;
}
.adds_man_list
{
    padding-left: 20px;
    padding-right: 20px;   
}
.adsman_catimage
{
    width:100%;
    top:0px;
    position:relative;
    text-align:center!important;    
    height:150px;
}
.adsman_catimage img
{
    display: block;
    margin-left: auto;
    margin-right: auto;    
}
.adsman_cattitle
{
    text-align: center!important;
    font-size: 120%;
    font-weight: bold;
}
.adsman_cattitle a{
    text-decoration: none!important;
}
.adsman_catcell
{
    width: 200px;
    height:200px;
    float:left;
    border:1px #D8D8D8 solid;
    position:relative;
    margin-right:25px;
    margin-bottom:25px;
}
.adsman_catcell_inner
{
    position:relative;
    height:210px;
    overflow: hidden;   
}
.adsman_catcell0
{
    width: 300px;
    height:250px;
    float:left;
    border-color: #D8D8D8;
    border-width:1px 3px 3px 1px;
    border-style: solid;
    position:relative;
    margin-right:25px;
    margin-bottom:25px;
}
.adsman_catcell_inner0
{
    position:relative;
    height:250px;   
    overflow: hidden; 
}
.adsman_catcell_inner0 .adsman_cattitle
{
    font-size: 150%!important;
    line-height: 120%;
}
.add_cat_description
{
    font-size: 70%;
    font-weight: normal;
    display: block;
    padding-left:10px;
}

/* 
                END CATLIST
*/

.add_list_header select
{
    border:1px #5DA6ED solid;
    font-size: 95%;
}

div.add_list_dates
{
    font-size: 80%;
}
td.add_list_spacer
{
    background: #FFFFFF !important;
    line-height: 15px;
}
.add_list_spacer hr
{
    color:#FFFFFF;
    background-color:#FFFFFF;
    
}
.add_detail_date dt
{
    width: 180px;
    float:left;
    border-bottom:1px solid #DBE1E6;
    margin:0px;
}
.add_detail_date dd
{
    width: 200px;
    float:left;
    border-bottom:1px solid #DBE1E6;
    margin:0px;
}

/* Message Bubbles */

table.add_message_list th
{
    background-color:#3D91CD;
}
.triangle-right {
	position:relative;
	padding:15px !important;
	margin:1em 0 1.5em;
	color:#fff;
	background:#075698; /* default background for browsers without gradient support */
	width: 85% !important;
	/* css3 */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	/* NOTE: webkit gradient implementation is not as per spec */
	background:-webkit-gradient(linear, left top, left bottom, from(#2e88c4), to(#075698));
	background:-moz-linear-gradient(top, #2e88c4, #075698);
	background:-o-linear-gradient(top, #2e88c4, #075698);
	background:linear-gradient(top, #2e88c4, #075698);
}

.triangle-right:after {
	content:"\00a0";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	bottom:-40px; /* value = - border-top-width - border-bottom-width */
	left:50px; /* controls horizontal position */
	width:0;
	height:0;
	border-width:20px 0 20px 20px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#075698 transparent transparent; 
}

.triangle-right.top {
	/* NOTE: webkit gradient implementation is not as per spec */
	background:-webkit-gradient(linear, left top, left bottom, from(#2e88c4), to(#92cbfa));
	background:-moz-linear-gradient(top, #2e88c4, #92cbfa);
	background:-o-linear-gradient(top, #2e88c4, #92cbfa);
	background:linear-gradient(top, #2e88c4, #92cbfa);
    color:#000;
}
.triangle-right.top.reply{
    margin-left: 160px;
    width:50%!important;
}
/* creates triangle */
.triangle-right.top:after {
	top:-40px; /* value = - border-top-width - border-bottom-width */
	right:50px; /* controls horizontal position */
	bottom:auto;
	left:auto;
	border-width:20px 20px 20px 0; /* vary these values to change the angle of the vertex */
	border-color:transparent transparent #075698; 
}
.triangle-right.left {
	margin-left:40px;
	background:#075698;
}

/* creates triangle */
.triangle-right.left:after {
	top:16px; 
	left:-80px; /* value = - border-left-width - border-right-width */
	bottom:auto;
	border-width:15px 40px 0; /* vary these values to change the angle of the vertex */
	border-color:transparent #075698 transparent transparent; 
}

.triangle-border {
	position:relative;
	padding:15px;
	margin:1em 0 3em;
	border:5px solid #2530A3;
	color:#333;
	background:#fff;
	
	/* css3 */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

/* creates the larger triangle */
.triangle-border:before {
	content:"\00a0";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	bottom:-40px; /* value = - border-top-width - border-bottom-width */
	left:40px; /* controls horizontal position */
	width:0;
	height:0;
	border:20px solid transparent;
	border-top-color:#2530A3;
}

/* creates the smaller  triangle */
.triangle-border:after {
	content:"\00a0";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	bottom:-26px; /* value = - border-top-width - border-bottom-width */
	left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	width:0;
	height:0;
	border:13px solid transparent;
	border-top-color:#fff;
}

/* creates the larger triangle */
.triangle-border.top:before {
	top:-40px; /* value = - border-top-width - border-bottom-width */
	right:auto; /* controls horizontal position */
	bottom:auto;
	left:40px;
	border:20px solid transparent;
	border-bottom-color:#2530A3;
}

/* creates the smaller  triangle */
.triangle-border.top:after {
	top:-26px; /* value = - border-top-width - border-bottom-width */
	right:auto; /* value = (:before right) + (:before border-right) - (:after border-right) */
	bottom:auto;
	left:47px;
	border:13px solid transparent;
	border-bottom-color:#fff;
}

div#adds_reply_message
{
    display:none;
}
input.send_message
{
 	border:2px solid ;
	border-color:#2530A3;
    background-color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
}

.add_message_list span.add_field_label{
    padding-left:50px;  
}
.add_message_list span.add_field_label.top{
    padding-left:55%;  
}
ul.add_message_list li{
    list-style: none outside none;
}
.captcha_container{
    text-align: center;
    padding: 30px;
}
.captcha_container #recaptcha_widget_div{
    text-align: center;
}
.triangle-border textarea{
    width: 100%;
    height: 200px;
}
div#adds_reply_message {  
  position:fixed;
  z-index: 100;  
  top:50%;  
  left:50%;  
  margin:-100px 0 0 -100px;  
  width:400px;  
  height:400px;
  background:#fff;
  border:1px solid #0b5b9d;
  padding:40px;  
}  
div#adds_reply_message textarea{
    width:100%;
    height:250px;
    margin-bottom:40px;
} 
div#adds_reply_message  div{
    text-align: center;
}
/* END Message Bubbles */


/*          Search Form     */ 
table.add_search_form  {
    border-collapse: separate !important;
}
.add_search_label
{
    font-weight: bold;
    padding: 2px;
    /*font-size: 150%;*/
    font-style: italic;  
}
.add_search_form input,.add_search_form select,.add_search_form textarea 
{
    font-size: 100%;
    
}

.userdetailstable input,.userdetailstable select,.userdetailstable textarea, .userdetailstable iframe,
.add_search_form input,.add_search_form select,.add_search_form textarea,.add_reports textarea
{
    border:1px solid #83C3E7;
    background-color: #FFFFFF;
}

/*          END Search Form     */ 

/*          My profile     */

.add_myprofile_details div.componentheading,
.add_myprofile_details  div.componentheading img {
    vertical-align: middle;
} 
table.userdetailstable{
    width:100%;
    margin-top:10px;
    margin-bottom: 20px;
    font-size: 120%;
    
}
table.userdetailstable td{
    padding:10px;
}
.userdetailstable label{
    font-weight: bold;
    font-size: 110%;
    vertical-align:top; 
}
.userdetailstable input {
    margin-right:20px;
    height:20px;
}
.userdetailstable #address{
    width:400px;
    height:200px;
}
.userdetailstable p{
    padding:10px;
}
.add_myprofile_balance{
    font-weight: bold;
    font-size: 130%;
    line-height: 110%;
}
div.add_package{
    width:160px;
    float:left;
    margin:3px;
}
.add_package table,
table.add_package_list{
    width:100%
}
.add_package table td{
    text-align: center;
}
.add_package a{
    font-weight: bold;
    font-size: 120%;
}
span.add_myprofile_balance{
    line-height: 45px;
}
img.ads_package_image{
    width:128px;
}
.add_myprofile_credits a:hover{
    background: inherit !important;
    color:inherit !important;
}
/*          END My profile     */ 

#wait_loader,#wait_loader2{
    text-align: center;
    
}

table.add_reports {
    width:550px;
} 
.add_reports th{
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}
.add_reports td{
    padding:10px;
}
.add_reports textarea{
    width:100%;
    height:250px;
}
.add_field_label
{
    font-weight: bold;  
}
.add_map_container{
    margin-top:20px; 
    overflow: auto;  
}
div.infoWindow{
    height:150px;
}
.add_map_container .adsman_shortdescription {
    width:80%;
    margin:3px;
    padding:5px;
    border:1px #333333 dotted;
}
.add_map_container .title{
    font-weight: bold;
    font-size: 120%;
}
.add_map_container img{
    float:left;
    width:100px;
    margin-right:5px;    
}
#search_sidebar{
    width:160px;
    float:left;
    margin-left:5px;
}
.sidebar_element img{
    width:50px;
}
div.sidebar_element{
    border:1px solid #cccccc;
    overflow: auto;
    padding: 3px;
    margin-bottom: 1px;
    cursor: pointer;
}
#map_canvas_search{
    float:left;
    width:530px;
}

 .mycreditsheader td
 {
    font-size: 120%;
    font-weight: bold;
    padding: 0px;    
    border-bottom: 1px solid #266497;
 }
 .mycreditsheader span
 {
    background-color: #83C3E7;
    height:auto;
    float:left;
    margin-left:20px;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid #266497;
    position:relative;
    top:1px;
 }
.adds_myitem1 td,.adds_myitem2 td
{
    border-top: 1px solid #000000;
    padding-top:5px;
}
.add_featured_purchase
{
    font-size: 160%;
    line-height: 20px;
}
.add_featured_purchase input
{
    border:1px solid #83C3E7;
    background-color: #FFFFFF;
}
table.add_newadd_header
{
    border-bottom: 1px solid #000000;
}
.add_newadd_header_selected
{
    background:url("image/detail-gradient.jpg") repeat-x scroll 0 0 transparent;
    background-color: #F1F8FE!important;
    color:#000000!important;
}
.add_newadd_header td
{
    padding:20px;
    background-color: #C0C0C0;
    width:200px;
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
    color:#808080;
}
h3.add_newadd_header
{
    line-height: 35px;
}

.button_up
{
    font-size: 14px;
    padding-left:1px;
    font-weight: bold;
    color:#FFFFFF;
    background-color: #42BDDE;
    background:url("image/next_step.jpg") no-repeat;
    height: 40px;
    line-height: 40px;
    display: block;
    height:45px;
    width:210px;
    float:left;
    margin-left:20px;
}

.category_select_toolbox{
	width:100%; 
	color:#DE0000;
}
.category_select_toolbox a
{
    text-decoration:none;
}
.category_select_toolbox a:hover{ 
    text-decoration:none; 
    color:#CCCCCC;
}
.category_select_toolbox img
{
    float:left;
}
.adds_category_link
{
    font-size: 16px;
    padding-left:5px;
    line-height: 20px;
}
.adds_categories_select th
{
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    background-color: #C0C0C0;
}
ul#category_list
{
    list-style-image: url(image/bullet.gif);
    padding: 0px;
    list-style-position: inside
}

#video-sources ul a {
color:#9293a0 !important;
display:block;
padding-left:2px;
padding-right:2px;
text-decoration:none;
float: left;
font-size: 11px;
}

#video-sources ul li img {
color:#9293a0 !important;
display:block;
padding-left:2px;
padding-right:2px;
text-decoration:none;
float: left;
}


#map_canvas{
    border: 1px solid black;
}