 <ul class="jxtc_socialwall_menu">
                  
                    <li>
                        <a href="{userlink}">
                            <div class="jxtc_socialwall_icon"><img src="{avatarurl}" width="100" height="100"/></div>
                            <div class="jxtc_socialwall_content">
                                <h2 class="jxtc_socialwall_main">{username}</h2>
                             
                                                          </div>
                        </a>
                    </li></ul>









