
.jxtc_socialwall_menu{
    padding: 0;
    margin: 20px auto;
    width: 500px;
}
.jxtc_socialwall_menu li{
    width: 500px;
    height: 100px;
    overflow: hidden;
    display: block;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 4px;
    border-left: 10px solid #000;
    -webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.jxtc_socialwall_menu li:last-child{
    margin-bottom: 0px;
}
.jxtc_socialwall_menu li a{
    text-align: left;
    display: block;
    width: 100%;
    height: 100%;
    color: #333;
    position:relative;
}
.jxtc_socialwall_icon{
      text-shadow: 0px 0px 1px #333;
    line-height: 90px;
    position: absolute;
    width: 90px;
    left: 20px;
    text-align: center;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.jxtc_socialwall_content{
    position: absolute;
    left: 200px;
    width: 370px;
    height: 60px;
    top: 15px;
}
.jxtc_socialwall_main{
    font-size: 36px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
	text-transform:uppercase;
	font-weight:bold;
}
.jxtc_socialwall_sub{
    font-size: 14px;
    color: #fff;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.jxtc_socialwall_menu li:hover{
    border-color: #fff004;
    background: #000;
}
.jxtc_socialwall_menu li:hover .jxtc_socialwall_icon{
    color: #fff004;
    text-shadow: 0px 0px 1px #fff004;
    font-size: 50px;
}
.jxtc_socialwall_menu li:hover .jxtc_socialwall_main{
    color: #fff004;
    font-size: 14px;
}
.jxtc_socialwall_menu li:hover .jxtc_socialwall_sub{
    color: #fff;
    font-size: 30px;
}
