 <ul class="jxtc_socialwall_tmp12">
                    <li>
                        <a href="{userlink}">
                            <div class="socialwall_tpm12-icon"><img src="{avatarurl}" width="200" height="150"/></div>
                            <div class="socialwall_tpm12-content">
                                <h2 class="socialwall_tpm12-main">{username}</h2>
                                <p class="socialwall_tpm12-sub">{status}</p>
                                <h3 class="socialwall_tpm12-subsub">View Profile...</h3>
                            </div>
                        </a>
                    </li></ul>









