.jxtc_socialwall_tmp12 li{
    width: 200px;
    height: 355px;
 	background: #fff;
 }

.jxtc_socialwall_tmp12 li a{
    text-align: left;
        color: #333;
   
}

.socialwall_tpm12-content{
    left: 0px;
width: 100%;
    height:65%;
    top: 22%;
	
  
}
.socialwall_tpm12-main{
font-size: 18px;
     text-align: center;
	 background: #000;
	 color:#fff;
	 padding:12px 0!important;
}
.socialwall_tpm12-subsub{
background:#000;
padding:8px;
height: 16px;
text-align:center;
font-size: 14px;
color: #666;
line-height: 12px;
top: 98%;
}
.socialwall_tpm12-sub{
    text-align:center;
    font-size: 12px;
    color: #666;
    line-height: 14px;
	width: 90%!important;
	padding: 0 12px;
		height: 100px;
	overflow:hidden;
}
.jxtc_socialwall_tmp12 li:hover{
    background-color: #000;
}
.jxtc_socialwall_tmp12 li:hover .socialwall_tpm12-icon{
    color: #ff2020;
   }
.jxtc_socialwall_tmp12 li:hover .socialwall_tpm12-main{
    color: #ff2020;
   }
.jxtc_socialwall_tmp12 li:hover .socialwall_tpm12-sub{
    color: #fff;
    
    
}
.jxtc_socialwall_tmp12 li:hover .socialwall_tpm12-subsub{
    color: #000;
    background-color: #ff2020;
    
}

.jxtc_socialwall_tmp12 li{
    overflow: hidden;
    position: relative;
    float:left;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-right: 4px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.jxtc_socialwall_tmp12 li:last-child{
    margin-right: 0px;
}
.jxtc_socialwall_tmp12 li a{
    width: 100%;
    height: 100%;
    display: block;
   position: relative;
}
.socialwall_tpm12-icon{
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0px;
    top: 0px;
    text-align: center;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.socialwall_tpm12-content{
    position: absolute;
    left: 0px;

}
.socialwall_tpm12-main{
    opacity: 0.8;
     -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.socialwall_tpm12-sub{
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    width: 100%; 
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.socialwall_tpm12-subsub{
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    width: 100%; 
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.jxtc_socialwall_tmp12 li:hover .socialwall_tpm12-icon{
    -webkit-animation: moveFromBottom 300ms ease;
    -moz-animation: moveFromBottom 300ms ease;
    -ms-animation: moveFromBottom 300ms ease;
}
.jxtc_socialwall_tmp12 li:hover .socialwall_tpm12-main{
    -webkit-animation: smallToBig 300ms ease;
    -moz-animation: smallToBig 300ms ease;
    -ms-animation: smallToBig 300ms ease;
}
.jxtc_socialwall_tmp12 li:hover .socialwall_tpm12-subsub{

    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
}
.jxtc_socialwall_tmp12 li:hover .socialwall_tpm12-sub{

    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
}
@-webkit-keyframes smallToBig{
    from {
        -webkit-transform: scale(0.1);
    }
    to {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes smallToBig{
    from {
        -moz-transform: scale(0.1);
    }
    to {
        -moz-transform: scale(1);
    }
}
@-ms-keyframes smallToBig{
    from {
        -ms-transform: scale(0.1);
    }
    to {
        -ms-transform: scale(1);
    }
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(100%);
    }
    to {
        -ms-transform: translateY(0%);
    }
}
