<table width="100%" border="0" cellpadding="2" cellspacing="2">
    <tr>
        <td class="legend">&#123;id}</td>
        <td class="tag">{id}</td>
    </tr>
    <tr>
        <td class="legend">&#123;name}</td>
        <td class="tag">{name}</td>
    </tr>
    <tr>
        <td class="legend">&#123;username}</td>
        <td class="tag">{username}</td>
    </tr>
    <tr>
        <td class="legend">&#123;email}</td>
        <td class="tag">{email}</td>
    </tr>
    <tr>
        <td class="legend">&#123;registerdate}</td>
        <td class="tag">{registerdate}</td>
    </tr>
    <tr>
        <td class="legend">&#123;lastvisitdate}</td>
        <td class="tag">{lastvisitdate}</td>
    </tr>
    <tr>
        <td class="legend">&#123;lastpost}</td>
        <td class="tag">{lastpost}</td>
    </tr>
    <tr>
        <td class="legend">&#123;avatarimage}</td>
        <td class="tag">{avatarimage}</td>
    </tr>
    <tr>
        <td class="legend">&#123;avatarurl}</td>
        <td class="tag">{avatarurl}</td>
    </tr>
    <tr>
        <td class="legend">&#123;thumbimage}</td>
        <td class="tag">{thumbimage}</td>
    </tr>
    <tr>
        <td class="legend">&#123;thumburl}</td>
        <td class="tag">{thumburl}</td>
    </tr>
    <tr>
        <td class="legend">&#123;friendcount}</td>
        <td class="tag">{friendcount}</td>
    </tr>
    <tr>
        <td class="legend">&#123;userlink}</td>
        <td class="tag">{userlink}</td>
    </tr>
    <tr>
        <td class="legend">&#123;photoslink}</td>
        <td class="tag">{photoslink}</td>
    </tr>
    <tr>
        <td class="legend">&#123;videoslink}</td>
        <td class="tag">{videoslink}</td>
    </tr>
    <tr>
        <td class="legend">&#123;points}</td>
        <td class="tag">{points}</td>
    </tr>
    <tr>
        <td class="legend">&#123;pointsimageurl}</td>
        <td class="tag">{pointsimageurl}</td>
    </tr>
    <tr>
        <td class="legend">&#123;pointsimage}</td>
        <td class="tag">{pointsimage}</td>
    </tr>
    <tr>
        <td class="legend">&#123;profileviews}</td>
        <td class="tag">{profileviews}</td>
    </tr>
    <tr>
        <td class="legend">&#123;profilevideo}</td>
        <td class="tag">{profilevideo}</td>
    </tr>
    <tr>
        <td class="legend">&#123;status}</td>
        <td class="tag">{status}</td>
    </tr>
    <tr>
        <td class="legend">&#123;onlinestatus}</td>
        <td class="tag">{onlinestatus}</td>
    </tr>
    <tr>
        <td class="legend">&#123;index}</td>
        <td class="tag">{index}</td>
    </tr>
</table>