/* Sample CSS file */
.legend {
font-size:12px;
font-weight:bold;
color:#333333;
background-color:#e0e0e0;
padding:2px 10px 2px 10px;
border-bottom:1px solid #333333;
}

.tag {
padding:2px 0 2px 10px ;
font-size:10px;font-family:Arial;color:#333333;background-color:#f9f9f9;
border-bottom:1px solid #333333;
}