#community-wrap .cToolBar{background:url(../images/bar-bg-red.png) bottom repeat-x #292929;}#community-wrap .cToolBar .cMenu-Text:hover>a,#community-wrap .cToolBar .cMenu-Text>a.active{background:#222;border-color:#000;}
#community-wrap .cToolBar .cHas-Childs ul,#community-wrap .cToolBar .cHas-Childs ul li,#community-wrap .cToolBar .cHas-Childs ul li a{background:#B7272D;border-color:#540003;color:#e2e9f0;}
#community-wrap .cToolBar .cMenu-Icon a.active,#community-wrap .cToolBar .cMenu-Icon a:focus,#community-wrap .cToolBar .cMenu-Icon a:hover{background-color:#fff;}
#community-wrap [class^="com-toolbar-"],#community-wrap [class*=" com-toolbar-"]{background-image:url(../images/sprites-toolbar-red.png);}
#community-wrap .app-box-header{color:#637193;}
#community-wrap .app-box-main .app-widget-header{background:#ECEFF5;border:1px solid #bfc5d1;border-bottom-color:#a9b0bd;}
#community-wrap .app-box-main .app-widget-header .app-box-title{color:#637193;}
#community-wrap [class^="com-app-"],#community-wrap [class*=" com-app-"]{background-image:url(../images/sprites-app-blue.png);width:16px;}
