<div id="jxtc_socialwall_tmp17">
	<div id="jxtc_socialwall_tmp17_card">
		<div class="jxtc_socialwall_tmp17_front jxtc_socialwall_tmp17_face">
		<img src="{avatarurl}" width="300" height="200"/>
		</div>
		<div class="jxtc_socialwall_tmp17_back jxtc_socialwall_tmp17_face center">
			<h3 class="jxtc_socialwall_tmp17_title"><a class="jxtc_socialwall_tmp17_a" href="{userlink}">{username}</a></h3>
            <h2 class="jxtc_socialwall_tmp17_title">CURRENT STATUS</h2>
	<h2 class="jxtc_socialwall_tmp17_title"><a class="jxtc_socialwall_tmp17_a" href="{userlink}">{status}</a></h3>

		</div>
 		</div>
</div>





