#jxtc_socialwall_tmp17 {
	margin: 10px;
	width: 300px;
	height: 200px;

}
.jxtc_socialwall_tmp17_face.jxtc_socialwall_tmp17_back {
	padding: 10px;
	color: white;
	text-align: center;
	background-color: #a30d34;
	
}

.jxtc_socialwall_tmp17_intro {padding-bottom:24px;margin-bottom:14px;}
h3.jxtc_socialwall_tmp17_title{font-size:24px;margin:0 0 8px 0;line-height:100%;text-align:left;padding:0;padding:12px;border:none!important;background:#393939;color:#fff!important;}

h2.jxtc_socialwall_tmp17_title{font-size:16px;margin:0 0 8px 0;line-height:100%;text-align:left;border:none!important;font-weight:bold;color:#fff!important;}

.jxtc_socialwall_tmp17_a{color:#fff!important;}

#jxtc_socialwall_tmp17 {
	position: relative;
	z-index: 1;

}

.jxtc_socialwall_tmp17_face.jxtc_socialwall_tmp17_back {
	display: none;
}



#jxtc_socialwall_tmp17 {
	perspective: 1000;	
	-moz-perspective: 1000px;
	-0-perspective: 1000px;	
	-webkit-perspective: 1000px;	
	-ms-perspective: 1000px;				
}
#jxtc_socialwall_tmp17_card {
	width: 100%;
	height: 100%;	
	transform-style: preserve-3d;
	transition: all 0.5s linear;
	-moz-transform-style: preserve-3d;
	-moz-transition: all 0.5s linear;
	
	-o-transform-style: preserve-3d;
	-o-transition: all 0.5s linear;
	
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 0.5s linear;
	
	-ms-transform-style: preserve-3d;
	-ms-transition: all 0.5s linear;
		
}
#jxtc_socialwall_tmp17:hover #jxtc_socialwall_tmp17_card {
	transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	
}


.jxtc_socialwall_tmp17_face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;

}


.jxtc_socialwall_tmp17_face.jxtc_socialwall_tmp17_back {
	display: block;
	transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	box-sizing: border-box;
	
}


