<div class="spinner jxtc_socialwall_tmp20" style="padding:5px; margin-top:10px; margin-left:5px; margin-bottom:10px;">

<a href="{userlink}"><img src="{thumburl}" width="100" height="100" /></a>   

<div style="margin-top:7px; padding-bottom:2px; font-family: Arial, sans-serif; font-size:14px;line-height:13px;  color:#526a9a; font-weight:bold; letter-spacing:-0.1px; "><a href="{userlink}"><b>{username}</b></a></div>  </div> 