<div style="background:#999; padding:3px; width:90px; height:90px; margin:3px;">
<a href="{userlink}">{avatarimage}</a>
</div><div style="background:#999;color:#fff; padding:3px; width:90px; height:20px;margin:3px;"><center>{username}</center></div>