.icon-48-listads		{ background-image: url(../img/toolbar/listads.png); }
.icon-48-adscategories 	{ background-image: url(../img/toolbar/adscategories.png); }
.icon-48-payments 		{ background-image: url(../img/toolbar/payments.png); }
.icon-48-paymentitems	{ background-image: url(../img/toolbar/paymentitems.png); }
.icon-48-gateway    	{ background-image: url(../img/toolbar/gateway.png); }
.icon-48-themes			{ background-image: url(../img/toolbar/themes.png); }
.icon-48-gallery		{ background-image: url(../img/toolbar/gallery.png); }
.icon-48-reported		{ background-image: url(../img/toolbar/reported.png); }
.icon-48-info 			{ background-image: url(../img/toolbar/info.png); }
.icon-48-adsdashboard   { background-image: url(../img/toolbar/ads_dashboard.jpg); background-position: 0% 50%;  }

.icon-32-step1 			{ background-image: url(../img/toolbar/step1.png); }
.icon-32-step2 			{ background-image: url(../img/toolbar/step2.png); }
.icon-32-step3 			{ background-image: url(../img/toolbar/step3.png); }
.icon-32-adsdashboard   { background-image: url(../img/toolbar/ads_dashboard_32.jpg); background-position: 0% 50%;  }


.icon-16-adsfactory 	{ background-image: url(../img/toolbar/icon-16-ads.jpg); }
.icon-16-listads		{ background-image: url(../img/toolbar/listads_ico.png); }
.icon-16-payments 		{ background-image: url(../img/toolbar/payments_ico.png); }
.icon-16-settings 	    { background-image: url(../img/toolbar/settings_ico.png); }
.icon-16-reported		{ background-image: url(../img/toolbar/reported_ico.png); }
.icon-16-users		    { background-image: url(../img/toolbar/users_ico.png); }
.icon-16-info 			{ background-image: url(../img/toolbar/info_ico.png); }

/*../components/com_adsman/img/ads_ico_16.png*/