<table>
{foreach from=$profiler item=field}
	<tr id="search_{$field.row_id}">
		<td>
		<label for="{$field.field_id}">
		{$field.field_name}
		</label>
		{if $field.compulsory}<span style="color:#FF0000;">*</span>{/if}
				{if $field.help}{infobullet text=$field.help}{/if}
		</td>
		<td>
			{$field.field_html}
			<span class="validate_tip" id="tip_{$field.field_id}"></span>
		</td>
	</tr>
{/foreach}
</table>