input{ 
	/*float:left !important; */
	clear:right !important;
}

div.fileinputs {
	position: relative;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}

label {
 clear:right  !important;
 float:left !important;
 width:70px !important;
 min-width:0px !important;
}

label#ads_opt_choose_checkoutcredits-lbl.radiobtn {
  width:300px !important;
  margin-bottom: 2px;
}

label#ads_opt_choose_checkoutpackages-lbl.radiobtn {
  width:300px !important;
  margin-top: 2px;
}

label#ads_opt_sort_datestart-lbl.radiobtn {
    margin-bottom: 2px;
    width: 100px !important;
}

label#ads_opt_sort_dateend-lbl.radiobtn {
    margin-bottom: 2px;
    width: 100px !important;
}

label#useridlbl.adslbl {
    width:120px !important;
}
fieldset { 
	border:1px solid #ccc !important;
	margin:  20px 0 10px !important;
	padding: 10px !important;
}

fieldset.radio { 
	border:1px solid #ccc !important;
	margin:  1px 0 1px !important;
	padding: 0px !important;
}

table.adminlist td {
    padding-left: 7px !important;
}


table.adminlist td, table.adminlist th {
    padding: 2px !important; 
}

div.current input, div.current textarea, div.current select {
	margin: 1px 0 0 2px !important;
}

.tooltip_right {
 float: left; 
 clear: right;
}

.tooltip_left {
 float: left; 
 clear: left;
}

fieldset img, fieldset button {
    float: left;
    margin: -5px 1px !important;
    width: auto;
}

fieldset.ads img {
    float: none !important;
    margin: -5px 1px !important;
    width: auto;
}

.ads_align_right {
  text-align: right !important;
}

.ads_align_left {
    text-align: left !important;
}

.ads_align_center {
    text-align: center !important;
}

fieldset.batch {
    margin: 5px 0 5px !important; 
    padding: 10px;
}

.fields_input {
	float: left;
    margin: 1px 2px 1px 3px;
    width: auto;
}

tr.grayRow  {
    background-color: #bfbfbf !important;
}

table.adminlist tbody tr.grayRow td.red {

    background-color: #f2f2f2 !important;
}
