.legend {
font-size:12px;
font-weight:bold;
color:#333333;
background-color:#e0e0e0;
padding:2px 5px 2px 2px;
border-bottom:1px solid #333333;
}

.tag {
padding:2px;
font-size:10px;font-family:Arial;color:#333333;background-color:#f9f9f9;
border-bottom:1px solid #333333;
}

.jxtc_socialwall_tmp19 {
  -webkit-animation-fill-mode: fowards;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: 0.5s ease;
  -moz-animation: 0.5s ease;
  -ms-animation: 0.5s ease;
  -o-animation: 0.5s ease;
  animation: 0.5s ease;
}


/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); } 
  50% { -webkit-transform: scale(1.5); }
    100% { -webkit-transform: scale(1); }
}
@-moz-keyframes pulse {
    0% { -moz-transform: scale(1); }  
  50% { -moz-transform: scale(1.5); }
    100% { -moz-transform: scale(1); }
}
@-ms-keyframes pulse {
    0% { -ms-transform: scale(1); } 
  50% { -ms-transform: scale(1.5); }
    100% { -ms-transform: scale(1); }
}
@-o-keyframes pulse {
    0% { -o-transform: scale(1); }  
  50% { -o-transform: scale(1.5); }
    100% { -o-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); } 
  50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

.jxtc_socialwall_tmp19:hover{
  -webkit-animation-username: pulse;
  -moz-animation-username: pulse;
  -ms-animation-username: pulse;
  -o-animation-username: pulse;
  animation-username: pulse;
}
