/**
 * Dirty rotten rides interest app mailing list
**/

html, body {
  background: #000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

div.row-fluid {
  text-align: center;
}

div.row-fluid img {
  max-width: 100%;
}

div.row-fluid form {
  max-width: 400px;
  margin: auto;
}

form {
  padding-bottom: 30px;
}

input.form-control {
  background: #252525;
  max-width: 400px;
  font-size: 16px;
  color: #3f3e3e;
  border: none;
  padding: 20px 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  outline: none;
}

textarea:focus,
input[type="text"]:focus,
textarea[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

button[type='submit'] {
  float: right;
  background: #b21c2c;
  color: #FFF;
  border: none;
  font-size: 16px;
  padding: 8px 20px;
}

input.form-control::-webkit-input-placeholder {
  color: #3f3e3e;
}
input.form-control:-moz-placeholder {
  /* FF 4-18 */
  color: #3f3e3e;
}
input.form-control::-moz-placeholder {
  /* FF 19+ */
  color: #3f3e3e;
}
input.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #3f3e3e;
}