{set_css}
<h2>{$page_title}</h2>
<form method="POST" action="{$ROOT_HOST}index.php?Itemid={$Itemid}" name="purchase_item">
<input name="option" type="hidden" value="com_adsman">
<input name="task" type="hidden" value="purchase">
<input name="paymenttype" type="hidden" value="{$paymenttype}">
<input name="currency" type="hidden" value="{$currency}" />
<input name="act" type="hidden" value="checkout">
<input name="return_url" type="hidden" value="{$return_url}" />
<input name="Itemid" type="hidden" value="{$Itemid}" />
<input name="id" type="hidden" value="{$object_id}" />
<input name="var_name1" type="hidden" value="ad_id" />
<input name="var_value1" type="hidden" value="0" />
<input name="var_name2" type="hidden" value="total_price_ad" />
<input name="var_value2" type="hidden" value="{$total_price_ad}" />
<input name="var_name3" type="hidden" value="featured_ad" />
<input name="var_value3" type="hidden" value="{$featured_ad}" />

{ if $item_object->itemname != ""}
 	<input name="itemname" type="hidden" value="{$item_object->itemname}" />
 {else}
	<input name="itemname" type="hidden" value="{$itemname}" />  
 {/if}


{*$item_object->getDescription()*} <br />

{"Ad costs "} {$total_price_ad} credits. <br /> 
{"You have "}{$credits} credits. <br /> 
{if $object_id!=""}

	Purchase {$itemamount|default:1} credit(s) to publish <strong>{$item_object->info.payment_description}</strong><br />
	<!--<input name="itemamount" type="text" value="{$itemamount|default:1}" />-->
	<input name="itemamount" type="hidden" value="{$itemamount|default:1}" />
{else}
{"You need"}: <input name="itemamount" type="text" value="{$itemamount|default:1}" />{" more credits for the current ad"}
<br />
{/if}
<input type="submit" name="submit" value="{'Purchase'}">

</form>