
{if $item_payment_status=="pending"}
<h2><b>{jtext text="ADS_PAYMENT_THANK_YOU_PENDING"|replace:'%s':$itemdescription}</b></h2>
{else}
<h2><b>{jtext text="ADS_PAYMENT_THANK_YOU"|replace:'%s':$itemdescription}</b></h2>
{/if}
<!--$smarty.const.adsman_payment_thankyou Thank you for payment -->
