{set_css}
<h2>{$page_title}</h2>
<form method="POST" action="index.php?Itemid={$Itemid}" name="purchase_item">
<input name="option" type="hidden" value="{$option}">
<input name="task" type="hidden" value="purchase">
<input name="paymenttype" type="hidden" value="{$paymenttype}">
<input name="act" type="hidden" value="checkout">
<input name="return_url" type="hidden" value="{$return_url}" />
<input name="Itemid" type="hidden" value="{$Itemid}" />
<input name="id" type="hidden" value="{$object_id}" />
<input name="var_name2" type="hidden" value="total_price_ad" />
<input name="var_value2" type="hidden" value="{$total_price_ad}" />
<input name="var_name3" type="hidden" value="featured_ad" />
<input name="var_value3" type="hidden" value="{$featured_ad}" />
	
{*$item_object->getDescription()*} <br />

<input type="hidden" name="itemname" value="{$item_object->itemname}" />

{"Ad costs "} {$total_price_ad} credits. <br /> 
{"You have "}{$credits} credits. <br /> <br />

{if $lists.packages|@count}
    <tr>
    	<td colspan="2">
			<table width="100%" class="auction_caption_box">
			<!--<tr>
			    <th><span style="color:#993333;">{jtext text="ADS_CREDITS"} {jtext text="ADS_PACKAGES"}</span>
			</tr>-->
			<tr>
			    <td valign="top">
					<table width="100%">
					<tr>
					{foreach from=$lists.packages item=pac key=key}
						<td align="center" valign="top">
							<table>
								<tr>
								{if $pac->price != 0}
									<td align="center">
										<a class="ads_packages_link" href="index.php?option=com_adsman&task=buy_package&package={$pac->name}&amp;Itemid={$Itemid}" >
											<span style="color:#CC0000;font-weight: bold;">{jtext text="ADS_BUY"}</span>
										</a>
									</td>
								{else}
									<td align="center">
										<!--<a class="ads_packages_link" href="index.php?option=com_adsman&task=free_package&package={$pac->name}&amp;Itemid={$Itemid}" >
											<span style="color:#CC0000;font-weight: bold;">{jtext text="ADS_BUY"}</span>
										</a>-->
										<a class="ads_packages_link" href="index.php?option=com_adsman&task=free_package&package={$pac->name}&amp;Itemid={$Itemid}" >{jtext text="ADS_GET_FREE_CREDITS"}</a>
									</td>
								{/if}		
								</tr>
								<tr>
									<td align="center"><strong>{$pac->name}</strong></td>
								</tr>
								<tr>
									<td align="center">{$pac->price} {$pac->currency}</td>
								</tr>
								<tr>
									<td align="center">{jtext text="ADS_CREDITS"}: {$pac->credits}</td>
								</tr>
								<!--<tr>
									<td align="center">{jtext text="ADS_PACKAGE_QUANTITY"}: {$package_quant}</td>
								</tr>-->
								{if $currency_maincredit == $pac->currency}
								<tr>
									<td align="center">{jtext text="ADS_ECONOMY"}
									{math equation="(( x * y ) - z)" x=$price_maincredit y=$pac->credits z=$pac->price format="%.2f"}
									{$currency_maincredit}
									{jtext text="ADS_ECONOMY_PER_PACKAGE"} 
									</td>
								</tr>
								{/if}
								<tr>
									<td height="100" align="center">
										<a href="index.php?option=com_adsman&task=buy_package&package={$pac->name}&amp;Itemid={$Itemid}">
						                    {assign var="pac_img" value=$pac->name|cat:".jpg" }
                                            {assign var="img_path" value=$package_img_path|cat:$pac_img }
                                            {file_exists file=$img_path img_name=$pac_img}
                                            <!--<img src="{*$pac->image*}" class="ads_noborder td100" />-->
										</a>
									</td>
								</tr>
								
							</table>
						</td>
					{/foreach}
					</tr>
					</table>
			    </td>
			</tr>
			</table>
    	</td>
    </tr>
	{/if}
	 
	
	