<div style="background:#ebebeb; padding:3px; width:120px; height:90px; margin-bottom:3px;float:left;">
<a href="{userlink}">{avatarimage}</a>
</div>
<div style="padding:3px; width:200px; height:90px; margin-bottom:20px;float:left; margin-left:12px; padding-left:12px; border-left:1px dotted #777777; font-size:10px; color:#ebebeb;">
<p style="margin-bottom:-6px; padding-bottom:8px; border-bottom:1px dotted #777777;">
<a href="{userlink}" style="color:#ffea76; font-weight:bold; font-size:12px; text-transform:uppercase;">
{username}</a></p><br>Registered: {registerdate}<br>Last Visit: 
{lastvisitdate}<br>Latest Post: {lastpost}<br>Friends: {friendcount}
</div>