<div style="z-index:101; margin-top:-27px; margin-bottom:16px;">
<div style="float:right; width:40px; margin-left:36px;">
<div style="float:left">{leftbutton} </div>
<div style="float:right"> {rightbutton}</div>
</div>
<br/>

<div style="padding:12px; margin-bottom:24px; margin-top:16px; background: #222222;">
{mainarea}
</div>