<div id="jxtc_socialwall_tmp16">
	<div id="jxtc_socialwall_tmp16_card">
		<div class="jxtc_socialwall_tmp16_front jxtc_socialwall_tmp16_face">
		<img src="{avatarurl}" width="300" height="200"/>
		</div>
		<div class="jxtc_socialwall_tmp16_back2 jxtc_socialwall_tmp16_face center">
        
			<h3 class="jxtc_socialwall_tmp16_title"><a class="jxtc_socialwall_tmp16_a" href="{userlink}">{username}</a></h3>
            <h2 class="jxtc_socialwall_tmp16_title">CURRENT STATUS:</h2>
<h2 class="jxtc_socialwall_tmp16_title"><a class="jxtc_socialwall_tmp16_a" href="{userlink}">{status}</a></h2>


		</div>
 		</div>
</div>





