<div class="jxtc_socialwall_tmp8">
                    <img src="{avatarurl}" width="300" />

                    <div class="mask"></div>
                    <div class="content">
                       <h2>{username}</h2>
                        <p>{status}</p>
 <center><a href="{userlink}" class="info">View Profile</a></center>

                    </div>
                </div>