<a href="{userlink}"><div style="width:700px; height:250px; background: #000;border:12px solid #313131;">
<div style="float:left;width:300px;"><img src="{avatarurl}" width="250" height="250" /></div>

<div style="float:left; width:300px; padding:30px 16px; text-align:left;font-weight:500;color:#fff;"><span style="font-size:36px;color:#fff;">{username}</span> <br /> <br /><span style="font-size:12px;color:#fff;"><b>Joined:</b> <i>{registerdate}</i></span> <br /><span style="font-size:12px;color:#fff;"><b>Last Visit: </b><i>{lastvisitdate}</i></span><br /><br /><span style="font-size:14px;color:#fff;"><b>Current Status:</b></span> <br /><br /><span style="font-size:12px;color:#fff;"><i>"{status}"</i></span> 
</div></div></a>
<div style="clear:both;"></div>