<div class="featured-container">
	<div class="featured-name">{username}</div>
	<div class="featured-image">
		<div class="image">
			<a href="{userlink}">{avatarimage}</a>
		</div>
		<div class="featureMount topLeft"></div>
		<div class="featureMount topRight"></div>
		<div class="featureMount bottomLeft"></div>
		<div class="featureMount bottomRight"></div>
	</div>
</div>