@font-face {
  font-family: 'halo';
  src: url('/fonts/halo.eot');
  src: url('/fonts/halo.eot?#iefix') format('embedded-opentype'), url('/fonts/halo.woff') format('woff'), url('/fonts/halo.ttf') format('truetype'), url('/fonts/halo.svg#halo') format('svg');
  font-weight: normal;
  font-style: normal;
}

.legend {
font-size:12px;
font-weight:bold;
color:#333333;
background-color:#e0e0e0;
padding:2px 5px 2px 2px;
border-bottom:1px solid #333333;
}

.tag {
padding:2px;
font-size:10px;font-family:Arial;color:#333333;background-color:#f9f9f9;
border-bottom:1px solid #333333;
}

.featured-container {
	width: 120px;
	margin: 0 auto;
}

.featured-image {
	position: relative;
	float: left;
	background: #000;
	width: 120px;
	height: 90px;
	text-align: center;
}

.image {
	width: 120px;
	height: 90px;
	overflow: hidden;
}

.featured-name {
	width: 100%;
	color: #F4CB89;
	font-size: 32px;
	font-family: 'halo', Helvetica, Arial;
	text-align: center;
}

.featured-image img {
	min-width: 120px;
	height: 90px;
}

div.featureMount {
	position: absolute;
	background: url('photoMounts.png') 0 0 no-repeat;
	width: 38px;
	height: 38px;
	overflow: hidden;
	z-index: 2;
}

div.featureMount.topLeft {
	background-position: 0 0;
	top: -16px;
	left: -16px;
}

div.featureMount.topRight {
	background-position: right 0;
	top: -16px;
	right: -16px;
}

div.featureMount.bottomLeft {
	background-position: 0 bottom;
	bottom: -16px;
	left: -16px;
}

div.featureMount.bottomRight {
	background-position: right bottom;
	bottom: -16px;
	right: -16px;
}

.search {
	display: none;
}

table tr td {
	padding-bottom: 10px;
}