<div class="jxtctooltip">
<div style="padding:5px;margin-top:10px;margin-left:5px;margin-bottom:10px;width:156px;height:110px;">
<div  style="width:140px;padding: 0px 0px 0px 0px;margin-left:0px;">
<div style="width:141px; margin-top:0px; <a href="{userlink}"><img src="{avatarurl}" width="150" height="150" /></a></div>

<div style="margin-top:7px; padding-bottom:2px; font-family: Arial, sans-serif; font-size:12px;text-align:center; line-height:13px;  color:#526a9a; font-weight:bold; letter-spacing:-0.1px; "><a href="{userlink}"><b>{username}</b></a></div>

<div class="tip" style="margin:-24px 0px 0px 0px;padding:14px; font-size:11px; line-height:133% !important; color:#fff!important;background:#036cc5;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border:1px solid #036cc5;"> {status}
</div>

</div>

</div>
</div>



