.icon-48-votingimages {
      background-image: url(../images/l_votingimages.png);
      padding-left:60px!important;
}

.icon-48-votingimage {
      background-image: url(../images/l_votingimages.png);
      padding-left:60px!important;
}

