.icon-48-dirtygirlsubmissions {
      background-image: url(../images/l_dirtygirlsubmissions.png);
      padding-left:60px!important;
}

.icon-48-dirtygirlsubmission {
      background-image: url(../images/l_dirtygirlsubmissions.png);
      padding-left:60px!important;
}

ul.adminformlist.uploadedImgs li {
	float: left;
	width: 19%;
	height: 300px;
	overflow: hidden;
	clear: none;
	margin: 0 10px 10px 0;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;
	-ms-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out;
}

ul.adminformlist.uploadedImgs li:hover {
	opacity: 0.7;
	filter: alpha(opacity=70)
}

ul.adminformlist.uploadedImgs li img {
	min-width: 300px;
	max-width: 400px;
	min-height: 300px;
}