 <ul class="jxtc_socialwall_tmp11">
                    <li>
                        <a href="{userlink}">
                            <div class="socialwall_tpm11-icon"><img src="{avatarurl}" width="200" height="150" /></div>
                            <div class="socialwall_tpm11-content">
                                <h2 class="socialwall_tpm11-main">{username}</h2>
                                                            <p class="socialwall_tpm11-sub">{status}</p>
                              
                            </div>
                        </a>
                    </li></ul>









