#cWindowContentOuter{width:500px;height:130px;}
#cwin_close_btn{background:url(window/window-x.png) center no-repeat !important;height:40px;width:40px;text-indent:-9999px;margin:0;position:absolute;top:0;right:0;z-index:1000;}
#cwin_logo{color:#fff;font-weight:bold;font-size:12px;text-shadow:0 1px 0 #444;height:40px;line-height:40px;margin-left:8px;position:absolute;top:0;left:0;z-index:999;}
#cwin_tl,#cwin_tr,#cwin_bl,#cwin_br,#cwin_tm,#cwin_bm,#cwin_ml,#cwin_mr{display:none;}
#cWindow {position:absolute;}
#cWindow #cwin-wait{width:43px;height:11px;background:transparent url(window/wait.gif) no-repeat;display:none;}
#cWindowContentOuter{border:1px solid #444;-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.8);-moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.8);box-shadow:0 0 5px rgba(0, 0, 0, 0.8);float:left;overflow:hidden;position:relative;}
#cWindowContentTop{height:40px;background:#292929;border-bottom:1px solid #222;overflow:hidden;}
#cWindowContentWrap{overflow:auto;background:#fff;position:relative;}
#cWindowContentWrap.resizing{overflow:hidden;}
#cWindowContent.resizing{overflow:hidden;position:absolute;}
#cWindowContent{padding:10px 10px;text-align:inherit;}
#cWindowContentWrap.loading{background-image:url(window/wait.gif);background-position:center center;background-repeat:no-repeat;}
#cWindowAction{background:#cccccc url(window/wait.gif) no-repeat -43px -11px;border-top:1px solid #999;font-size:0;height:49px;text-align:right;position:absolute;width:100%;left:0;}
#cWindowAction.loading{background-position:10px 10px;}
