<div class="jxtc_socialwall_tmp2">
                          <img src="{avatarurl}" width="300" />
                    <div class="jxtc_socialwall_tmp2_mask"></div>
                    <div class="jxtc_socialwall_tmp2_content">
                           <h2>{username}</h2>
                        <p>{status}</p>

                     <center><a href="{userlink}" class="jxtc_socialwall_tmp2_info">View Profile</a></center>
                    </div>
                </div>




