<h4 style="color: #135cae; line-height:118%; margin-bottom:2px; margin-top:0px; color:#366693; font-size:13px;">{username}</h4>
<div style="padding-top:9px; padding-bottom:13px; margin: 0 10px 10px 0; ">  
	<div style="float:left;width:70px; margin-top:1px; margin-left:-2px; margin-right:6px;"> 
		<span style="font-weight:bold; color:#000; display:block; width:100%; font-size:11px;">{registerdate}
</span>
		
		<span class="lang popuphover" style="width:200px;">
			<img src="modules/mod_jxtc_socialwall/templates/pop_up_demo/images/eye_open.png" />
			<span class="pop">Current Status:<br /><br />{status}</span>
		</span>
	</div>  
	<div style="float:left; width:73px; height:73px; margin-left:7px; padding:5px;  margin-top:4px; background:#ebebeb;">
		<img src="{thumburl}" width="73" height="73" />
	</div>
	
</div>