<div class="slidebox" >

  <div style="float:left; width:197px; height:188px; margin-right:19px; padding:6px; background: url(modules/mod_jxtc_socialwall/images/npimgbkg.jpg) repeat-x; display:table-cell; vertical-align: bottom;">



    <div class="imageOver" style="width:197px; height:188px; overflow:hidden !important;">



        <img src="{avatarurl}" width="197" height="188" />

    

        <div class="slidepanel" style="position:relative;   margin-bottom: 8px;  margin-top:-202px; background: transparent; ">

          <div style="filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7; background:#000; height:143px; width:197px;"></div>

        

          <div style="position:relative; padding:12px 12px 12px 14px; margin-top:-143px; width:171px;">

            <a href="{userlink}">

              <p style="font-size:12px; color:#ffffff; font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-weight:bold; margin-bottom:0px;">{username}</p>

            </a>

          

            <div style="padding-top: 8px;">

              <p style="font-size:11px; color:#cccccc; line-height:130%;">{status}</p>

            </div>

          </div>

        </div>

      </div>

      

  </div>

</div>