   <div class="jxtc_socialwall_ac-imgwrap"><img src="{avatarurl}" width="300" height="200"/></div>
                   
                        <label>{username}</label>
                       
                        <center> <p>{status}</p></center>
                              <center><a href="userlink" class="info">View Profile</a></center>
                  












