<section class="jxtc_socialwall_ac-container">
				<div>
					<input id="ac-1" username="accordion-1" type="checkbox" checked="checked"  />
					<label for="ac-1">Featured Member</label>
					<article class="jxtc_socialwall_ac-medium">
						{mainarea}
					</article>
				</div>
				<div>
					<input id="ac-2" username="accordion-1" type="checkbox"  />
					<label for="ac-2">Latest Members</label>
					<article class="jxtc_socialwall_ac-small">
						{morearea}

					</article>
				</div>
				
			</section>

