.jxtc_socialwall_ac-container{width: 300px;margin: 10px auto 30px auto;text-align: left;}
.jxtc_socialwall_ac-imgwrap {width: 300px;height: 200px;}
.jxtc_socialwall_ac-container label{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 30px;
	cursor: pointer;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-size: 19px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}
.jxtc_socialwall_ac-container label:hover{
	background: #fff;
}
.jxtc_socialwall_ac-container input:checked + label,.jxtc_socialwall_ac-container input:checked + label:hover{
	background: #c6e1ec;
	color: #3d7489;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.jxtc_socialwall_ac-container label:hover:after,.jxtc_socialwall_ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent userlink(images/arrow_down.png) no-repeat center center;	
}
.jxtc_socialwall_ac-container input:checked + label:hover:after{
	background-image: userlink(images/arrow_up.png);
}
.jxtc_socialwall_ac-container input{
	display: none;
}
.jxtc_socialwall_ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.jxtc_socialwall_ac-container article h2{
   text-transform: uppercase;
   	color: #777;
	font-weight:bold;
   text-align: center;
   position: relative;
   font-size: 17px;
   }
.jxtc_socialwall_ac-container article p{
	font-style: italic;
	color: #777;
	line-height: 23px;
	font-size: 14px;
	padding: 0px 20px 5px 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.jxtc_socialwall_ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.jxtc_socialwall_ac-container input:checked ~ article.jxtc_socialwall_ac-small{
	height: 210px;
}
.jxtc_socialwall_ac-container input:checked ~ article.jxtc_socialwall_ac-medium{
	height: 425px;
}

.jxtc_socialwall_ac-container a.info {
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
   margin: 0 7px;
}
.jxtc_socialwall_ac-container a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
      float:right;
   margin: 0 7px;
}
.jxtc_socialwall_ac-more {color:#b3b3b4;padding:8px;border-bottom:1px solid #ccc;font-size:14px;text-transform:uppercase;font-weight:bold;width:300px;}
