.userdetailstable{ }

table.add_search_form  {
    border-collapse: separate !important;
}
/* 8ac288*/
/* 95a384 kaki */
/* a7ca4a */ /* 7f9a49 */
/* c0d8ae */ /* cadcbe */ /* ccd3b7 */
.expired{color:#FF0000;}

.adds_man_list{font-size:12px;}

.adds_man_item_header_middle{ line-height:5px; height:5px;}
.adds_man_item_header_left{ line-height:5px; height:5px; max-height:5px;}
.adds_man_item_header_right{ line-height:5px; height:5px; max-height:5px;}

/*Items  odd rows*/
.adds_man_item1{ border-bottom:#ACACAC solid 1px; background:#a7ca4a; margin:5px; width:100%;}
.adds_man_item1_title{  color: #787878; background:#a7ca4a; width:100%;} /*#A7FF7A VERY bright green */
/*.adds_man_item1_footer{ border-top:solid 1px #ACACAC; color:#000000; width:100%;font-size:10px;background:#7f9a49; height: 30px; }*/
.adds_man_item1_footer{ border-top:solid 1px #ACACAC; height: 30px; color:#000000; width:100%;font-size:10px;background:url("../../img/green/bgfooter.gif") repeat-x !important;}
.adds_man_item1_title a{color:#115D11 !important; font-weight:bold;text-decoration:none; font-size:14px !important;}

tr.adds_man_item1_footer a{ color: #fffb21;}

/*Items even rows*/
.adds_man_item2{ border:#EEEEEE solid 1px; margin:5px; width:100%;background:#ccd3b7;}
.adds_man_item2_title{ background:#ccd3b7; color:#787878; width:100%;}
.adds_man_item2_footer{ border-top:solid 1px #ACACAC; height: 30px; color:#000000; width:100%;font-size:10px;background:url("../../img/green/bgfooter.gif") repeat-x !important;}
.adds_man_item2_title a{color: #4f7345 !important; font-weight:bold;text-decoration:none; font-size:14px !important;}

/*#B9AD69*/
tr.adds_man_item2_footer a{ color: #fffb21;}

a.category_link{
        /*color:#004682;*/
    color: #555555 !important;
    font-size:11px;
    font-weight:normal;
    text-decoration: none;
}

/* featured odd rows */
.listing-gold{ border-bottom:#ACACAC solid 1px; background:#FFF888; }
.listing-silver{ border-bottom:#ACACAC solid 1px; background:#BBBBBB; }
.listing-bronze td{ border-top:#000000 solid 2px; font-weight:bold; }
 td.listing-bronze { border-left:#000000 solid 2px;border-bottom:#000000 solid 1px; font-weight:bold; }

.adds_man_list_grid{font-size:12px; width:100% !important;}
.adds_man_item1_grid{ border-bottom:#ACACAC solid 1px; background:#DEDEDE; margin:5px; width:150px; height:200px; float:left;}
.adds_man_item1_title_grid{  color:#A34545; background:#BDBDBD; width:150px;}
.adds_man_item1_footer_grid{ border-top:solid 1px #ACACAC; color:#A34545; width:150px;}

.adds_man_item2_grid{ border:#EEEEEE solid 1px; margin:5px; width:150px; height:200px; float:left;}
.adds_man_item2_title_grid{ background:#EDEDED; color:#A34545; width:150px;}
.adds_man_item2_footer_grid{ border-top:solid 1px #ACACAC; color:#A34545; width:150px;}

.price {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: #555555;
}

.currency {
    font-size: 14px;font-weight: bold;
}
.upgrade_title{font-size:14px;color:#004682;font-weight:bold;}

table#adds_categories{ width:100%;}
#adds_maincat{ font-size:16px;padding-top:6px !important;padding-bottom:6px !important; }
#adds_subcat{ font-size:10px;font-weight:100;padding-top:1px !important;padding-bottom:1px !important;padding-left:20px;}

.ads_mailsend_box{display:none;position:absolute; z-index:1000; background:#ADDEDA; border:solid 2px #DDDEDA;}

a.back_button_cancel:link {
    text-decoration: none;
}

.add_list_header select
{
    border:1px #5DA6ED solid;
    font-size: 95%;
}

.text_header_small {
    /*color:#004682;*/
    color: #0055B5;
    font-family:arial,helvetica,sans-serif;
    font-size:10px;
    font-weight: bold;
}

.ads_letterlist{
    padding:3px;
    padding-bottom:10px;
    font-size: 17px;
    font-weight: normal;
}

.add_detail_title{
    border-bottom:1px solid #ACACAC;
    font-family:arial,helvetica,sans-serif;
    font-size:14px;
    font-weight:bolder;
    color:#004682;
}
.add_text_medium_bold{
    font-family:arial,helvetica,sans-serif;
    font-size:12px;
    font-weight:bolder;
    color:#004682;

}
.add_filter{
    background:#E2E6E7;
    font-family:arial,helvetica,sans-serif;
    font-size:10px;
    color:#FF6F6F;
    font-weight:bolder;
}
.add_text_small{
    font-family:arial,helvetica,sans-serif;
    font-size:11px;
    color:#000000;

}
.adds_man_item_grid{
}
div.adds_man_item_grid_title{
    position:relative;
    overflow: hidden;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 153px;
    min-height: 110px;
    max-height: 115px;
    height: auto ! important;
    background-color: rgb(255, 255, 255);
}

.adds_man_item_grid_headerbox{
    background:url("../../img/mw_header_t.png") repeat-x; line-height:15px; height:15px;
}

.adds_man_item_grid_title a{color:#8ab800 !important; font-weight:bold;text-decoration:none;} /*B9CD69*/

div.adds_man_item_thumb{
    border: 1px solid #a9cc41;
    border-bottom: 0px solid #a9cc41;
    overflow: hidden;
    text-align: center !important;
    width: 163px;
    height: 108px;
}
div.adds_man_item_grid_container{
    border-left: 1px solid #a9cc41;
    border-right: 1px solid #a9cc41;
    border-bottom: 1px solid #a9cc41;
    text-align: left;
    width: 163px;
    /*73CC37*/
}
div.adds_man_item_small_box{
    border-top: 0px solid #96c704;
    overflow: hidden;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(255, 255, 255);
}

.category_select_toolbox{
	width:100%; text-align:center;
	color:#DE0000;
}
.category_select_toolbox a{ text-decoration:none; color:#DE5000;}



.addContainer{
	width:100% !important;
}
.header_title_sort{
    background:url("../../img/green/nav.jpg") repeat-x; line-height:30px; height:30px;
    background-color:#FFFFFF;
    float:left;
    width:100%;
    text-align:center !important;
}

.header_title_sort_hover{
    line-height:30px; height:30px;
    background:#B9CD69;
	float:left;
    width:100%;
    text-align:center !important;
}

.header_title_sort a{
    text-decoration:none;
    font-family:arial,helvetica,sans-serif;
    font-size:12px;
    font-weight:bold;
    color:#FFFFFF !important;
}

.add_detail_title{
    border-bottom:1px solid #ACACAC;
    font-family:arial,helvetica,sans-serif;
    font-size:14px;
    font-weight:bolder;
    color:#004682;
    padding:4px;
}

.add_text_medium_bold{
    font-family:arial,helvetica,sans-serif;
    font-size:12px;
    font-weight:bolder;
    color:#004682;
}

/* tabs */

dl.tabs {
	float: left;
	margin: 10px 0 -1px 0;
	z-index: 50;
}

dl.tabs dt {
	float: left;
	padding: 4px 10px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin-left: 3px;
	background: #FFF;
	background:url("../../img/grey_bg.gif") repeat-x !important;
	color: #666;
}

dl.tabs dt.open {
	background: #ccd3b7 url('') !important;
	border-bottom: 1px solid #F9F9F9;
	z-index: 100;
	color: #000;
}

div.current {
	clear: both;
	border: 1px solid #ccc;
	padding: 10px 10px;
}

div.current dd {
	padding: 0;
	margin: 0;
}

.tool-tip{
	background:none repeat scroll 0 0 #F7EBEE !important;
	border:1px solid #D4D5AA;
	max-width:100% !important;
}


.adds_man_pagination{ text-align:center !important; padding-top:5px !important; border-top:#ACACAC solid 2px; background:#a7ca4a; height:30px; width:100%;}

.adds_guest_info{
	width:100% !important; 
	background:#a7ca4a !important;
}

.ads_guest_info_cell{
	font-weight:bold;
}


#video-sources ul a {
color:#9293a0 !important;
display:block;
padding-left:2px;
padding-right:2px;
text-decoration:none;
float: left;
font-size: 11px;
}

#video-sources ul li img {
color:#9293a0 !important;
display:block;
padding-left:2px;
padding-right:2px;
text-decoration:none;
float: left;
}