<a href="http://twitter.com/home?status=Currently reading {$add->links.tweeter}" title="Click to send this page to Twitter!" target="_blank"><img src="{$ROOT_HOST}components/com_adsman/img/tweet.png" alt="Tweet This!" class="ads_noborder detail_img_social" /></a>
&nbsp;
<a href="http://www.facebook.com/sharer.php?u={$add->links.tweeter|rawurlencode}&amp;title={$add->title|rawurlencode}" target="_blank" title="{jtext text='ADS_FACEBOOK'}"><img src="{$ROOT_HOST}components/com_adsman/templates/demo/image/facebook_button.png" alt="Share on Facebook" class="ads_noborder detail_img_social" /></a>
&nbsp; 
<a href="http://delicious.com/save?v=5&amp;noui&amp;jump=close&amp;url={$add->links.tweeter|rawurlencode}&amp;title={$add->title|rawurlencode}" target="_blank" title="{jtext text='ADS_DELICIOUS'}"><img src="{$ROOT_HOST}components/com_adsman/img/Social_Delicious.png" alt="{jtext text='ADS_DELICIOUS'}" class="ads_noborder detail_img_social" /></a>
