.icon-48-dirtygirlsubmissions {
      background-image: url(../images/l_dirtygirlsubmissions.png);
      padding-left:60px!important;
}

.icon-48-dirtygirlsubmission {
      background-image: url(../images/l_dirtygirlsubmissions.png);
      padding-left:60px!important;
}

