.icon-48-medias {
      background-image: url(../images/l_medias.png);
      padding-left:60px!important;
}

.icon-48-media {
      background-image: url(../images/l_medias.png);
      padding-left:60px!important;
}

