.icon-48-dirtygirlpages {
      background-image: url(../images/l_dirtygirlpages.png);
      padding-left:60px!important;
}

.icon-48-dirtygirlpage {
      background-image: url(../images/l_dirtygirlpages.png);
      padding-left:60px!important;
}

