<div class="jxtc_socialwall_tmp10">
                    <img src="{avatarurl}" width="300" />

                    <div class="mask"></div>
                    <div class="content">
                         <center><h2>{username}</h2></center>
                        <p>{status}</p>

                        <center> <a href="{userlink}" class="info">View Profile</a></center>

                    </div>
                </div>








