 <ul class="jxtc_socialwall_tmp14">
                    <li>
                        <a href="{userlink}">
                       
                            <div class="jxtc_socialwall_tmp14-content">
                                
                                 <h3 class="jxtc_socialwall_tmp14-main">{username}</h3>
                                 <div class="jxtc_socialwall_tmp14-subsub"><img src="{avatarurl}" width="300" height="300"/></div>
                            </div>
                        </a>
                    </li>
</ul>






