.userdetailstable{ }

.addContainer dl.tabs {
    margin: 5px 0 0 !important;
}

table.add_search_form  {
    border-collapse: separate !important;
}

.expired{color:#FF0000;}

.adds_man_list{font-size:12px;}

.adsman_shortdescription {
    line-height: 13px;
    color: #8f8f8f !important;
    margin-top: 10px;
    /*position: absolute;
    bottom: 27px;*/
    width: 300px;
}

/*Items  odd rows*/
.adds_man_item1{ border-bottom:#ACACAC solid 1px; background:#F5C6D0; margin:5px; width:100%;}
.adds_man_item1_title{  color:#000000; background:#F5C6D0; width:100%; }
.adds_man_item1_footer{ border-top: 1px solid #ACACAC !important; color:#000000; width:100%;font-size:10px;background:#F5C6D0;}
.adds_man_item1_title a{color:#000 !important; font-weight:bold;text-decoration:none; font-size:14px !important;}

/*Items even rows*/
.adds_man_item2{ border:#EEEEEE solid 1px; margin:5px; width:100%;background:#A2CBF4;}
.adds_man_item2_title{ background:#F7EBEE; color:#000000; width:100%;}
.adds_man_item2_footer{ border-top:solid 1px #ACACAC; color:#000000; width:100%;font-size:10px;background:#F7EBEE;}
.adds_man_item2_title a{color:#004682; font-weight:bold;text-decoration:none; font-size:14px !important;}

a.category_link{
        /*color:#004682;*/
    color: #4f4f4f !important;
    font-size:11px;
    font-weight:normal;
    text-decoration: none;
}

/* featured odd rows */
.listing-gold{ border-bottom:#ACACAC solid 1px; background:#FFF888; }
.listing-silver{ border-bottom:#ACACAC solid 1px; background:#BBBBBB; }
.listing-bronze td{ border-top:#000000 solid 2px; font-weight:bold; }
 td.listing-bronze { border-left:#000000 solid 2px;border-bottom:#000000 solid 1px; font-weight:bold; }

.adds_man_list_grid{font-size:12px; width:100% !important;}
.adds_man_item1_grid{ border-bottom:#ACACAC solid 1px; background:#DEDEDE; margin:5px; width:150px; height:200px; float:left;}
.adds_man_item1_title_grid{  color:#A34545; background:#BDBDBD; width:150px;}
.adds_man_item1_footer_grid{ border-top:solid 1px #ACACAC; color:#A34545; width:150px;}

.adds_man_item2_grid{ border:#EEEEEE solid 1px; margin:5px; width:150px; height:200px; float:left;}
.adds_man_item2_title_grid{ background:#EDEDED; color:#A34545; width:150px;}
.adds_man_item2_footer_grid{ border-top:solid 1px #ACACAC; color:#A34545; width:150px;}

.price {
    text-align: right;
    font-size: 17px;
    font-weight: bold;
}

.currency {
    font-size: 14px;font-weight: bold;
}

.upgrade_title{font-size:14px;color:#004682;font-weight:bold;}

table#adds_categories{ width:100%;}
#adds_maincat{ font-size:16px;padding-top:6px !important;padding-bottom:6px !important; }
#adds_subcat{ font-size:10px;font-weight:100;padding-top:1px !important;padding-bottom:1px !important;padding-left:20px;}

.ads_mailsend_box{display:none;position:absolute; z-index:1000; background:#ADDEDA; border:solid 2px #DDDEDA;}

a.back_button_cancel:link {
    text-decoration: none;
}

.add_list_header select
{
    border:1px #5DA6ED solid;
    font-size: 95%;
}

.text_header_small {
    /*color:#004682;*/
    color: #0055B5;
    font-family:arial,helvetica,sans-serif;
    font-size:10px;
    font-weight: bold;
}

.header_title_sort{
    background-color:#CC7A8C;
    float:left;
    width:100%;
    text-align:center !important;
}
.header_title_sort a{
    text-decoration:none;
    color:#EDD5DB !important;
    font-family:arial,helvetica,sans-serif;
    font-size:12px;
    font-weight:bold;
}

.ads_letterlist{
    padding:3px;
    padding-bottom:10px;
    font-size: 17px;
    font-weight: normal;
}

.add_detail_title{
    border-bottom:1px solid #ACACAC;
    font-family:arial,helvetica,sans-serif;
    font-size:14px;
    font-weight:bolder;
    color:#004682;
}
.add_text_medium_bold{
    font-family:arial,helvetica,sans-serif;
    font-size:12px;
    font-weight:bolder;
    color:#004682;

}
.add_filter{
    background:#E2E6E7;
    font-family:arial,helvetica,sans-serif;
    font-size:10px;
    color:#FF6F6F;
    font-weight:bolder;
}
.add_text_small{
    font-family:arial,helvetica,sans-serif;
    font-size:11px;
    color:#000000;

}
.adds_man_item_grid{
}
div.adds_man_item_grid_title{
    position:relative;
    overflow: hidden;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 153px;
    min-height: 110px;
    max-height: 115px;
    height: auto ! important;
    background-color: rgb(255, 255, 255);
}
.adds_man_item_grid_title a{color:#004682; font-weight:bold;text-decoration:none;}

div.adds_man_item_thumb{
    border: 1px solid rgb(217, 130, 149);
    border-bottom: 0px solid rgb(217, 130, 149);
    overflow: hidden;
    text-align: center !important;
    width: 163px;
    height: 108px;
}
div.adds_man_item_grid_container{
    border-left: 1px solid rgb(217, 130, 149); /*F7EBEE*/
    border-right: 1px solid rgb(217, 130, 149);
    border-bottom: 1px solid rgb(217, 130, 149);
    text-align: left;
    width: 163px;
}
div.adds_man_item_small_box{
    border-top: 0px solid rgb(217, 130, 149);
    overflow: hidden;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(255, 255, 255);
}

.category_select_toolbox{
	width:100%; text-align:center;
	color:#DE0000;
}
.category_select_toolbox a{ text-decoration:none; color:#DE5000;}



.addContainer{
	width:100% !important;
}

.add_detail_title{
    border-bottom:1px solid #ACACAC;
    font-family:arial,helvetica,sans-serif;
    font-size:14px;
    font-weight:bolder;
    color:#004682;
    padding:4px;
}

.add_text_medium_bold{
    font-family:arial,helvetica,sans-serif;
    font-size:12px;
    font-weight:bolder;
    color:#004682;
}

/* tabs */

dl.tabs {
	float: left !important;
	margin: 10px 0 -1px 0 !important;
	z-index: 50;
}

dl.tabs dt {
	float: left;
	padding: 4px 10px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin-left: 3px;
	background: #FFF;
	background:url("../../img/grey_bg.gif") repeat-x !important;
	color: #666;
}

dl.tabs dt.open {
	background: #F7EBEE url('') !important;
	border-bottom: 1px solid #F9F9F9;
	z-index: 100;
	color: #000;
}

div.current {
	clear: both;
	border: 1px solid #ccc;
	padding: 10px 10px;
}

div.current dd {
	padding: 0;
	margin: 0;
}

.tool-tip{
	background:none repeat scroll 0 0 #F7EBEE !important;
	border:1px solid #D4D5AA;
	max-width:100% !important;
}


.adds_man_pagination{ text-align:center !important; border-top:#ACACAC solid 2px; background:#F5C6D0; margin:5px; width:100%;}


#video-sources ul a {
color:#9293a0 !important;
display:block;
padding-left:2px;
padding-right:2px;
text-decoration:none;
float: left;
font-size: 11px;
}

#video-sources ul li img {
color:#9293a0 !important;
display:block;
padding-left:2px;
padding-right:2px;
text-decoration:none;
float: left;
}