<table class="ads_table">
	<tr>
		<td>{jtext text="ADS_SELECT_CATEGORY"}:&nbsp;{$lists.category}</td>
	</tr>
	<tr>
		<td>
    		{$lists.maps_limit}
		</td>
	</tr>
</table>
<div class="add_map_container">
    <div id="wait_loader" style="display:none;"><img src="{$ROOT_HOST}/components/com_adsman/img/ajax-loader2.gif"/></div>
    <div id="map_canvas"></div> 
</div>

