<div>
	{jtext text="ADS_ADDRESS"}: <input type="text" class="inputbox" id="addressInput"/>
    {$lists.radius_units}
	<input type="button" class="back_button" onclick="gmap_refreshAds_search()" value="{jtext text='ADS_PAGE_SEARCH'}" />
</div>
<div class="add_map_container">
    <div id="wait_loader2" style="display:none;"><img src="{$ROOT_HOST}/components/com_adsman/img/ajax-loader2.gif" /></div>
    <div id="map_canvas_search"></div>
    <div id="search_sidebar"></div>
</div>    
