#wrapper2 {
	width: 660px;
	margin-top: 8px;
}

.userdetailstable{ }

.expired {
	color:#FF0000 !important;
	padding-right: 20px;
}

.adds_man_list {
	background: url('/templates/dirtyrottenrides/images/ui-bg-texture.jpg') repeat;
	font-size:12px;
}

.adds_man_list table tr td {
	padding: 10px;
}

.adds_man_list table tr td:nth-child(1) {
	text-align: center;
}

table.ads_noborder.ads_table tbody tr td:nth-last-child(1) {
	padding-right: 20px;
}

.adds_man_list table tr:nth-child(3n + 3) {
	border: none;
	padding: 0;
	display: none;
}

.adsman_shortdescription {
    line-height: 13px;
    color: #8f8f8f !important;
    margin-top: 10px;
    /*position: absolute;
    bottom: 27px;*/
    width: 300px;
}

.ads_noborder .add_list_spacer td
{
    background: #FFFFFF;
    line-height: 15px;
    font-size: 120%;
}
.ads_noborder .add_list_spacer hr
{
    color:#ACACAC;
    background-color:#ACACAC;
}

.ads_padding15 {
	padding-top: 10px;
  padding-left: 15px;
}

.mycredits0 td,.mycredits1 td
{
    font-size: 120%;
    font-weight: bold;
    border-bottom: 1px solid #83C3E7;
}
.mycredits0 td,.mycredits0 td a
{
    background-color: #266497;
    color:#FFFFFF;
}

table.add_search_form  {
    border-collapse: separate !important;
}

/*Items  odd rows*/
.adds_man_item1 {
	margin:5px;
	width:100%;
	text-align: center;
	padding: 20px 0;
	font-family: 'headliner', Helvetica, Arial;
	font-size: 36px;
}
.adds_man_item1_title {
	color:#FFF;
	background: rgba(0,0,0,0.4);
	width:100%;
	border: none;
}
.adds_man_item1_footer {
	color:#FFF;
	width:100%;
	font-size:10px;
	background: rgba(0,0,0,0.4);
	border: none;
}
.adds_man_item1_title a {
	color:#004682;
	text-decoration:none;
}

tr.adds_man_item1_title td {
	padding: 0px 4px 12px 4px;
}

/*Items even rows*/
.adds_man_item2 {
	margin: 5px;
	width: 100%;
	background: #A2CBF4;
}
.adds_man_item2_title {
	background: none;
	color: #FFF;
	width: 100%;
	border: none;
}
.adds_man_item2_footer {
	color: #FFF;
	width: 100%;
	font-size: 10px;
	background: none;
	border: none;
}
.adds_man_item2_title a {
	color:#004682; 
	/*font-weight:bold;*/
	text-decoration:none;
}

tr.adds_man_item2_title td {
	padding: 0px 4px 12px 4px;
}

a.category_link{
        /*color:#004682;*/
    color: #666 !important;
    font-size:11px;
    font-weight:normal;
    text-decoration: none;
}

.category_adslist {
    font-size: 11px;  position: absolute; bottom: 2px;
}

/* featured odd rows */
.listing-gold .adds_man_list ads_table {
    /*background:#FFF888;*/
}
.listing-gold.adds_man_item1_footer { border:solid 1px #FFF888 !important; color:#000000; width:100%;font-size:10px;background:#FFF888;}
.listing-gold.adds_man_item2_footer { border:solid 1px #FFF888 !important; color:#000000; width:100%;font-size:10px;background:#FFF888;}
.adds_man_list.adds_man_item1_title .listing-gold tr {  border: solid 1px #FFF888 !important; }
.adds_man_list.adds_man_item2_title .listing-gold tr {  border: solid 1px #FFF888 !important; }


.listing-silver .adds_man_list ads_table {
    border:#ACACAC solid 1px !important;
    /*background:#BBBBBB;*/
}
.listing-silver.adds_man_item1_footer { border:solid 1px #ACACAC !important; color:#000000; width:100%;font-size:10px;background:#ACACAC;}
.listing-silver.adds_man_item2_footer { border:solid 1px #ACACAC !important; color:#000000; width:100%;font-size:10px;background:#ACACAC;}
.listing-silver.adds_man_item1_title {  border: solid 1px #ACACAC !important; }
.listing-silver.adds_man_item2_title {  border: solid 1px #ACACAC !important; }

.listing-bronze .adds_man_list ads_table {
    border: #e6a07b 1px solid !important;
    /*background: #e6a07b;*/
}
.listing-bronze.adds_man_item1_footer { border:solid 1px #ACACAC !important; color:#000000; width:100%;font-size:10px;background:#e6a07b;}
.listing-bronze.adds_man_item2_footer { border:solid 1px #ACACAC !important; color:#000000; width:100%;font-size:10px;background:#e6a07b;}
.listing-bronze.adds_man_item1_title {  border: solid 1px #e6a07b !important; }
.listing-bronze.adds_man_item2_title {  border: solid 1px #e6a07b !important; }

/*.listing-bronze td{ border-top:#000000 solid 2px;  }
 td.listing-bronze { border-left:#000000 solid 2px;border-bottom:#000000 solid 1px; } */

.adds_man_list_grid{font-size:12px; width:100% !important;}
.adds_man_item1_grid{ border-bottom:#ACACAC solid 1px; background:#DEDEDE; margin:5px; width:150px; height:200px; float:left;}
.adds_man_item1_title_grid{  color:#A34545; background:#BDBDBD; width:150px;}
.adds_man_item1_footer_grid{ border-top:solid 1px #ACACAC; color:#A34545; width:150px;}

.adds_man_item2_grid{ border:#EEEEEE solid 1px; margin:5px; width:150px; height:200px; float:left;}
.adds_man_item2_title_grid{ background:#EDEDED; color:#A34545; width:150px;}
.adds_man_item2_footer_grid{ border-top:solid 1px #ACACAC; color:#A34545; width:150px;}


.price {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}

.currency {
    font-size: 14px;font-weight: bold;
}

.upgrade_title{font-size:14px;color:#004682;font-weight:bold;}

table#adds_categories{ width:100%;}
#adds_maincat{ font-size:16px;padding-top:6px !important;padding-bottom:6px !important; }
#adds_subcat{ font-size:10px;font-weight:100;padding-top:1px !important;padding-bottom:1px !important;padding-left:20px;}

.ads_mailsend_box{display:none;position:absolute; z-index:1000; background:#ADDEDA; border:solid 2px #DDDEDA;}

.add_list_header select
{
    border:1px #5DA6ED solid;
    font-size: 95%;
}

.text_header_small {
    color: #FFF;
    font-family:arial,helvetica,sans-serif;
    font-size:10px;
    font-weight: bold;
    text-decoration: underline;
}

.text_header_small:Hover {
    color: #B7272D;
}

.header_title_sort{
    background-color:#000;
    float:left;
    width:100%;
    color: #FFF;
    text-align:center !important;
    padding: 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}
.header_title_sort a{
    text-decoration:none;
    color:#FFF;
    font-family:arial,helvetica,sans-serif;
    font-size:12px;
    font-weight:bold;
}
.add_detail_title{
    border-bottom:1px solid #ACACAC;
    font-family:arial,helvetica,sans-serif;
    font-size:14px;
    font-weight:bolder;
    color:#004682;
}
.add_text_medium_bold{
    font-family:arial,helvetica,sans-serif;
    font-size:12px;
    font-weight:bolder;
    color:#004682;

}
.add_filter{
    background:#E2E6E7;
    font-family:arial,helvetica,sans-serif;
    font-size:10px;
    color:#FF6F6F;
    font-weight:bolder;
}
.add_text_small{
    font-family:arial,helvetica,sans-serif;
    font-size:11px;
    color:#000000;

}
.adds_man_item_grid{
}
div.adds_man_item_grid_title{
    position:relative;
    overflow: hidden;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 153px;
    min-height: 110px;
    max-height: 115px;
    height: auto ! important;
    background-color: rgb(255, 255, 255);
}
.adds_man_item_grid_title a {
    color:#004682;
    font-weight:bold;
    text-decoration: none !important;
}

div.adds_man_item_thumb{
    border: 1px solid rgb(160, 219, 245);
    border-bottom: 0px solid rgb(160, 219, 245);
    /*border: 1px solid rgb(8, 157, 245);*/
    overflow: hidden;
    text-align: center !important;
    width: 163px;
    height: 108px;
}
div.adds_man_item_grid_container{
    border-left: 1px solid rgb(160, 219, 245);
    border-right: 1px solid rgb(160, 219, 245);
    border-bottom: 1px solid rgb(160, 219, 245);
    text-align: left;
    width: 163px;
}
div.adds_man_item_small_box{
    border-top: 0px solid rgb(160, 219, 245);
    overflow: hidden;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(255, 255, 255);
}

div.adds_man_item_small_box.listing-gold
{
    background: none repeat scroll 0 0 #FFF888 !important;
}

div.adds_man_item_small_box.listing-silver
{
    background: none repeat scroll 0 0 #ACACAC;
}

div.adds_man_item_small_box.listing-bronze
{
    background: none repeat scroll 0 0 #e6a07b;
    color: #135CAE;
    font-weight: bold;
    /*background:url("image/gradient-footer.jpg") repeat-x;*/
}

h3.adCatHeader {
	color: #F3CA8A;
	font-size: 18px;
	font-family: 'Titillium Maps', Arial;
	font-weight: normal;
}

.items-leading h2, #main h3, #main h4 {
	color: #F3CA8A;
}

.category_select_toolbox{
	width:100%;
	text-align:center;
	color: #FFF;
}
.category_select_toolbox a:Link,
.category_select_toolbox a:Visited {
	float: left;
	background: #B7272D;
	width: 100%;
	text-decoration: none;
	color: #FFF;
	padding: 8px 0;
}
.category_select_toolbox a:Hover {
	background: #911319;
}

.addContainer{
	/*background:url("../assets/art_back.gif") repeat-x !important;*/
	background: url('/templates/dirtyrottenrides/images/ui-bg-texture.jpg') repeat;
	padding: 10px;
}

.ads_letterlist{
    padding:3px;
    padding-bottom:10px;
    font-size: 17px;
    font-weight: normal;
}

.add_detail_title{
    border-bottom: 1px solid #ACACAC;
    font-family: arial,helvetica,sans-serif;
    font-size: 14px;
    font-weight: bolder;
    color: #B7272D;
    padding: 4px;
}

.add_text_medium_bold{
    font-family:arial,helvetica,sans-serif;
    font-size:12px;
    font-weight:bolder;
    color: #B7B7B7;
}

/* tabs */

dl.tabs {
	float: left;
	margin: 10px 0 -1px 0 !important;
	z-index: 50;
}

dl.tabs dt {
	float: left;
	padding: 4px 10px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin-left: 3px;
	background: #f0f0f0;
	color: #666;
}

dl.tabs dt.open {
	background: #F9F9F9;
	border-bottom: 1px solid #F9F9F9;
	z-index: 100;
	color: #000;
}

div.current {
	clear: both;
	border: 1px solid #ccc;
	padding: 10px 10px;
}

div.current dd {
	padding: 0;
	margin: 0;
}
a.back_button_cancel:link {
    text-decoration: none;
}
.tool-tip{max-width:100% !important;}

.tagwrap { 
   width: 150px;
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.tag {
  float:left; 
  text-align:right !important;
  vertical-align: top;
}

#video-sources ul a {
color:#9293a0 !important;
display:block;
padding-left:2px;
padding-right:2px;
text-decoration:none;
float: left;
font-size: 11px;
}

#video-sources ul li img {
color:#9293a0 !important;
display:block;
padding-left:2px;
padding-right:2px;
text-decoration:none;
float: left;
}

.right {
    text-align: right !important;
}