{include file='t_javascript_language.tpl'}
{if $add->id}
    <h2>{$add->title}</h2>
{/if}
{if $pricing_plugins.price_contact->enabled==1 && !$add->is_my_add}
        {jtext text="ADS_HIDDEN_MAP"}
{else}
    {if $smarty.const.ads_opt_google_key!="" }
        <div id="map_canvas"></div>
    {/if}
{/if}
