<h1>{jtext _='SIGNUP_TITLE'}</h1>

<form action="{jroute _='index.php'}" method="post" id="adsfactory-form">
  

  <div class="adsfactory-zones-submit">
    <input type="submit" value="{jtext _='SIGNUP_SUBMIT'}" />

    <table width="100%" class="ads_noborder userdetailstable ads_table" cellpadding="2" cellspacing="0">
	  <tr>
	   <td width="85">{jtext text="ADS_NAME"}</td>
	   <td>{$user->name}</td>
	  </tr>
	  <tr>
	   <td width="85">{jtext text="ADS_USERNAME"}</td>
	   <td>{$user->username}</td>
	  </tr>
	  <tr>
	   <td width="85">{jtext text="ADS_EMAIL"}</td>
	   <td>{$user->email}</td>
	  </tr>
	  <tr>
	   <td width="85">{jtext text="ADS_PASSWORD"}</td>
	   <td>{$user->password}</td>
	  </tr>
	  	 
	</table>
  </div>

  <input type="hidden" name="option"     value="com_adsman" />
  <input type="hidden" name="task"       value="signup" />
  <input type="hidden" name="Itemid"     value="{$Itemid}" />
  {form_token}
</form>