   <img src="{avatarurl}" width="300" height="200" />
                   
                        <h2>{username}</h2>
                         <h1>{status}</h1>
                        
                        <center><a href="{userlink}" class="info">View Profile</a></center>
                  












