<section class="jxtc_socialwall_tabs">
	            <input id="jxtc_socialwall_tab-1" type="radio" name="radio-set" class="jxtc_socialwall_tab-selector-1" checked="checked"  />
		        <label for="jxtc_socialwall_tab-1" class="jxtc_socialwall_tab-label-1">Latest</label>
		
	            <input id="jxtc_socialwall_tab-2" type="radio" name="radio-set" class="jxtc_socialwall_tab-selector-2" />
		        <label for="jxtc_socialwall_tab-2" class="jxtc_socialwall_tab-label-2">More</label>
		
	           
            
			    <div class="clear-shadow"></div>
			
		        <div class="jxtc_socialwall_tabscontent">
			        <div class="jxtc_socialwall_tabscontent-1">
						{mainarea}
				    </div>
			        <div class="jxtc_socialwall_tabscontent-2">
					{morearea}
			      
		        </div>
			</section>
