.jxtc_socialwall_tabs {
    position: relative;
	margin: 40px auto;
	width: 320px;
}

.jxtc_socialwall_tabs h2 {color:#4d4d4e;font-size:24px!important;font-weight:bold;text-align:center!important;}
.jxtc_socialwall_tabs h1 {color:#4d4d4e;font-size:18px!important;font-weight:bold;text-align:center!important;}
.jxtc_socialwall_tabs a.info {text-align:center;
   display: inline-block;
   text-decoration: none;
   padding: 12px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.jxtc_socialwall_tabs a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}

.jxtc_socialwall_tabs input {
	position: absolute;
	z-index: 1000;
	width: 200px;
	height: 40px;
	left: 0px;
	top: 0px;
	opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
	cursor: pointer;
}
.jxtc_socialwall_tabs input#jxtc_socialwall_tab-2{
	left: 120px;
}


.jxtc_socialwall_tabs label {
	background: #5ba4a4;
	background: -moz-linear-gradient(top, #5ba4a4 0%, #4e8c8a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ba4a4), color-stop(100%,#4e8c8a));
	background: -webkit-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
	background: -o-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
	background: -ms-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
	background: linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
	font-size: 15px;
	line-height: 40px;
	height: 40px;
	position: relative;
	padding: 0 20px;
    float: left;
	display: block;
	width: 80px;
	color: #385c5b;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
}

.jxtc_socialwall_tabs label:after {
    content: '';
	background: #fff;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
}

.jxtc_socialwall_tabs input:hover + label {
	background: #5ba4a4;
}

.jxtc_socialwall_tabs label:first-of-type {
    z-index: 4;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1);
}

.jxtc_socialwall_tab-label-2 {
    z-index: 3;
}



.jxtc_socialwall_tabs input:checked + label {
    background: #fff;
	z-index: 6;
	
    -webkit-animation: page 0.2s linear;
    -moz-animation: page 0.2s linear;
    -ms-animation: page 0.2s linear;
    -o-animation: page 0.2s linear;
    animation: page 0.2s linear;
}

.clear-shadow {
	clear: both;
}

.jxtc_socialwall_tabscontent {
    background: #fff;
	position: relative;
    width: 100%;
	height: 340px;
	z-index: 5;
	overflow: hidden;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0 3px 3px 3px;
}

.jxtc_socialwall_tabscontent > div {
    position: absolute;
	top: 0;
	padding: 10px;
	z-index: 1;
    opacity: 0;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.jxtc_socialwall_tabscontent-1 {  
	-webkit-transform: translateX(-250px);
	-moz-transform: translateX(-250px);
	-o-transform: translateX(-250px);
	-ms-transform: translateX(-250px);
	transform: translateX(-250px);
}

.jxtc_socialwall_tabscontent-2 { 
    -webkit-transform: translateX(250px);
	-moz-transform: translateX(250px);
	-o-transform: translateX(250px);
	-ms-transform: translateX(250px);
	transform: translateX(250px);
}

.jxtc_socialwall_tabs input.jxtc_socialwall_tab-selector-1:checked ~ 
.jxtc_socialwall_tabscontent .jxtc_socialwall_tabscontent-1,.jxtc_socialwall_tabs input.jxtc_socialwall_tab-selector-2:checked ~ 
.jxtc_socialwall_tabscontent .jxtc_socialwall_tabscontent-2,.jxtc_socialwall_tabs input.jxtc_socialwall_tab-selector-3:checked ~ 
.jxtc_socialwall_tabscontent .jxtc_socialwall_tabscontent-3,.jxtc_socialwall_tabs input.jxtc_socialwall_tab-selector-3:checked ~ 
.jxtc_socialwall_tabscontent .jxtc_socialwall_tabscontent-4
{
    -webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all ease-out 0.2s 0.1s;
    -moz-transition: all ease-out 0.2s 0.1s;
    -o-transition: all ease-out 0.2s 0.1s;
    -ms-transition: all ease-out 0.2s 0.1s;
    transition: all ease-out 0.2s 0.1s;
}



@keyframes "page" {
 0% {
    left: 0;
 }
 50% {
    left: 10px;
 }
 100% {
    left: 0;
 }

}

@-moz-keyframes page {
 0% {
   left: 0;
 }
 50% {
   left: 10px;
 }
 100% {
   left: 0;
 }

}

@-webkit-keyframes "page" {
 0% {
   left: 0;
 }
 50% {
   left: 10px;
 }
 100% {
   left: 0;
 }

}

@-ms-keyframes "page" {
 0% {
   left: 0;
 }
 50% {
   left: 10px;
 }
 100% {
   left: 0;
 }

}

@-o-keyframes "page" {
 0% {
   left: 0;
 }
 50% {
   left: 10px;
 }
 100% {
   left: 0;
 }

}

.more {padding:8px}
