{* description Tab *}
{starttab paneid="tab1" text="ADS_TAB_DESCRIPTION"}
    <table class="ads_table_description">
    <tr>
        <td>
            {$add->description}
        </td>
    </tr>
    </table>
{endtab}
