#wrapper2 #main h1 {
	font-size: 24px;
	padding: 0;
	margin: 20px 0 10px 0;
}

#wrapper2 #main h2 {
	font-size: 16px;
	margin-bottom: 20px;
}

input[type="text"], input[type="email"] {
	width: 250px;
	padding: 4px;
}

div.dirtygirlsubmission-edit.front-end-edit {
	margin-left: 100px;
}

.front-end-edit ul {
    padding: 0 !important;
}

.front-end-edit li {
    list-style: none;
    margin-bottom: 6px !important;
}

.front-end-edit label {
    margin-right: 10px;
    display: block;
    float: left;
    width: 200px !important;
}

.front-end-edit .radio label {
    float: none;
}

.front-end-edit .readonly {
    border: none !important;
    color: #666;
}    

.front-end-edit #editor-xtd-buttons {
    height: 50px;
    width: 600px;
    float: left;
}

.front-end-edit .toggle-editor {
    height: 50px;
    width: 120px;
    float: right;
}

#jform_rules-lbl{
    display:none;
}

#access-rules a:hover{
    background:#f5f5f5 url('../images/slider_minus.png') right  top no-repeat;
    color: #444;
}

fieldset.radio label{
    width: 50px !important;
}

input.inputbox.required {
  background: #FFF;
}

button.validate {
	background: red;
	padding: 8px 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border: none;
}

button.validate:Hover {
	background: #000;
}

button span {
  font-size: 20px;
	color: #FFF;
}

li.imageNotice {
  color: #F4CB89;
  font: 20px 'Titillium Maps', Arial;
  text-align: center;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
  padding: 4px;
}

ul.submissionForm {
  width: 88%;
  clear: both;
}

p.submissionRules {
	width: 90%;
}

hr.submissionRules {
	float: left;
	width: 90%;
	margin: 20px 0;
}

p.submissionRules span {
	font-weight: bold;
}

span.submissionDates {
	float: left;
	width: 90%;
	text-align: center;
	font-weight: bold;
}

button.validate {
	background: #000 !important;
	border: none !important;
	padding: 12px 16px !important;
}

button.validate:hover {
	background: red !important;
}

button.validate span {
	color: #FFF;
}