 <ul class="jxtc_socialwall_tmp13">
                    <li>
                        <a href="{userlink}">
                       
                            <div class="jxtc_socialwall_tmp13-content">
                                <h2 class="jxtc_socialwall_tmp13-main" ><img src="{avatarurl}" width="200" height="200"/></h2>
                                <p class="jxtc_socialwall_tmp13-sub">{username}</p>
                                <h3 class="jxtc_socialwall_tmp13-subsub">View Profile...</h3>
                            </div>
                        </a>
                    </li></ul>









