.jxtc_socialwall_tmp13 li{
    width: 180px;
    height: 180px;
    border: 10px solid #f6f6f6;
    overflow: hidden;
    position: relative;
    float:left;
    background: #fff;
    margin-right: 4px;
        -moz-background-clip: border;     /* Firefox 3.6 */
    -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
    background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

 }
.jxtc_socialwall_tmp13 li:last-child{
    margin-right: 0px;
}
.jxtc_socialwall_tmp13 li a{
    text-align: left;
    width: 180px;
    height: 180px;
    display: block;
    top:0;
    position:absolute;
}

.jxtc_socialwall_tmp13-main{
    position: absolute;
     height: 100%;
    width: 100%;
    text-align: center;
}
.jxtc_socialwall_tmp13-sub{
     color: #fff;
    font-size: 14px;
	font-weight:bold;
	text-transform:uppercase;
    background:#186bb2;
	padding: 14px;
     width: 100%;
      top: 50px;
	 
 
}
.jxtc_socialwall_tmp13-subsub{
    text-align:center;
    color: #000;
    font-size: 14px;
    position: absolute;
    height: 80px;
    width: 170px;
     top: 110px;
 
}
.jxtc_socialwall_tmp13 li:hover{
    background: #f7f7f7;
    border-color: #fff;
}

.jxtc_socialwall_tmp13 li{
     overflow: hidden;
    position: relative;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border-radius: 125px;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.jxtc_socialwall_tmp13 li:last-child{
    margin-right: 0px;
}
.jxtc_socialwall_tmp13 li a{
    display: block;
}

.jxtc_socialwall_tmp13-main{
    position: absolute;
    margin-top:-1px;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border-radius: 125px;}
	
.jxtc_socialwall_tmp13-sub{
    position: absolute;
    opacity: 0;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.jxtc_socialwall_tmp13-subsub{
    position: absolute;
    opacity: 0;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;

}
.jxtc_socialwall_tmp13 li:hover{

    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.jxtc_socialwall_tmp13 li:hover .jxtc_socialwall_tmp13-main{
    display: none;
}
.jxtc_socialwall_tmp13 li:hover .jxtc_socialwall_tmp13-sub{
    opacity: 0.8;
}
.jxtc_socialwall_tmp13 li:hover .jxtc_socialwall_tmp13-subsub{
    opacity: 0.8;
}