#main h1.fleaHeader {
	border: none;
	padding: 20px 0 0 24px;
	font: 44px 'Halo', Helvetica;
	color: #F3CA8A;
	text-shadow: 2px 2px 3px #000;	
}

.width100 {
 	width: 100%;!important;
}

#main {
    padding: 2px 0 10px !important;
}
.ads_table a:link, a:visited {
 	text-decoration: none !important;
}

.ads_table a:hover, .ads_table a:active, .ads_table a:focus {
   	background: none repeat scroll 0 0 transparent !important; 
   	color: #333333 !important; 
}

.ads_table
{
	border: 0 none !important;
}

div.adsCatContainer {
	background: rgba(0,0,0,0.6) url('/templates/dirtyrottenrides/images/ui-bg-texture.jpg') repeat;
	padding: 10px 10px 40px 10px;
}

table.ads_table#adds_categories_select tr:nth-child(odd) {
	background: rgba(0,0,0,0.3);
}

table.ads_table#adds_categories_select tr td {
	padding: 8px;
}

/* for opera */
.ads_table tr, td
{
    border: 0 none !important;
}

td.adsman_catcell {
	background: url('/templates/dirtyrottenrides/images/ui-bg-texture.jpg') repeat;
	padding: 10px;
}

ads_table td.right, th.right {
    text-align: right !important;
}


/* Title text */
.contentheading, .componentheading, h1, h2, h3, h4 {
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

h1.componentheading, .componentheading {
	padding: 5px 0 15px;
	margin: 0 0 10px;
	/*background: url(../images/hdot.gif) repeat-x bottom;*/
}

.componentheading {
	font-size: 170%;
	font-weight: bold;
	font-family: 'Titillium Maps',Arial;
	color: #555555;
}

.td100 {
  	width: 100px;
}

.td200 {
  	width: 200px;
    border-bottom: 1px solid #666666 !important;
}

.td300 {
  	width: 300px;
    border-bottom: 1px solid #666666 !important;
}

.left_detail {
	float: left;
	width: 100%;
}

.ads_noborder {
  	border: 0 none;
    padding: 2px 2px;
}

.tip {
  	max-width: none !important;
}

.ads_right100 {
  	width: 100px; 
  	text-align:right;
}

.ads_right {
  	text-align:right;
}


.ads_right10 {
 	margin-right: 10px;
}

.ads_top2 {
  	margin-top: 2px;
}

.ads_gallery_left {
  	float: left; 
  	width: auto;
}

.ads_bottom_border {
  	border-bottom: 1px solid #ACACAC;
}

.media_width {
    width: 220px;
    margin-right:5px;
    padding: 2px;
    vertical-align: middle;
    text-align: center;
}

/*.media_thumbnail {
    width: 200px;
    vertical-align: middle;
    text-align: center;
    padding: 2px;
}*/

.media_title {
    font-size: 13px !important;
    font-weight: bold !important;
    margin-bottom: 3px !important;
}

.align-top {
   vertical-align: top;
   padding: 2px;
}

.video_content {
    vertical-align: top;
}

.video-description {
    vertical-align: top;
    padding: 2px 0;
}

.td_pricing_table {
  valign: top;
  min-height:500px; 
  border: 2px solid #CDCDCD;
}

.ads_pricing_calendar {
  height: 25px; 
  vertical-align: middle;
}

.detail_img_social {
 margin-right:5px; 
 /*width:32px;*/
 width:24px;
}


.folder category_css a:hover, .addsman_catheader_nav a:active,.addsman_catheader_nav a:focus
{
    background: none repeat scroll 0 0 #095197 !important; 
    color: #FFFFFF;    

}

.addsman_catheader_nav a:hover,.addsman_catheader_nav a:active,.addsman_catheader_nav a:focus {
    background: none repeat scroll 0 0 #095197 !important; 
    color: #FFFFFF;
}

.addsman_catheader_nav a:link,.addsman_catheader_nav a:visited {
    color: #095197;
}

/*#main a:hover img, #main a:active img, #main a:focus img {
    background: none repeat scroll 0 0 red !important; 
}*/

#main a:hover img, #main a:active img, #main a:focus img, #main a:link img, #main a:visited img {
 	background: none repeat scroll 0 0 transparent !important; 
}

.red {
    color: red;
}

.payment_details {
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    display: block;
    margin-top: 4px;
    padding: 5px;
    width: 60%;
}

fieldset {
	border:1px solid #ccc !important;
	margin:  2px 2px 4px 10px !important;
	padding: 5px !important;
}

