<div class="jxtc_socialwall_tmp1">
                   <img src="{avatarurl}" width="300" />
                    <div class="mask">
                        <h2>{username}</h2>
                        <p>{status}</p>
                      <center><a href="{userlink}" class="info">View Profile</a></center>
                    </div>
                </div>  





